<div class="listing-form__wrapper dashboard__form--wrapper">
  <h3 class="form-subtitle">Offer Review</h3>

  <div class="formly-field-group">
    <div class="display-flex not-form">
      <div class="flex-1">
        <label>Status</label>
        <div class="input-group">
          <select chosen="vm.offer.status" data-placeholder="Status" disable_search_threshold="15" ng-model="vm.offer.status" ng-options="status.value as status.label for status in vm.allStatus"></select>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Business</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
          <p class="input-style has-addon">{{vm.offer.listing.general.businessName}}</p>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Investor</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <p class="input-style has-addon"><a href="#" ui-sref="admin.edituser.profile({id: vm.offer.user._id})">{{vm.offer.user.name.first}} {{vm.offer.user.name.last}}</a></p>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
    </div><!-- /.display-flex -->
  </div><!-- /.formly-field-group -->

  <div class="formly-field-group">
    <div class="display-flex not-form">
      <div class="flex-1">
        <label>Date</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          <p class="input-style has-addon">{{vm.offer.date | date}}</p>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Rate</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-percent"></i></div>
          <p class="input-style has-addon">{{vm.offer.rate}}</p>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Amount</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-usd"></i></div>
          <p class="input-style has-addon">{{vm.offer.amount | currency}}</p>
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
    </div><!-- /.display-flex -->
  </div><!-- /.formly-field-group -->

  <p><textarea name="name" rows="8" cols="40" ng-model="vm.offer.notes"></textarea></p>

  <div class="formly-submit">
    <ul class="listing-form__pagination">
      <li>&nbsp;</li>
      <li>
        <button class="listing-form__save" type="submit" name="update" ng-click="vm.updateOffer(vm.offer)">Update</button>
      </li>
      <li>&nbsp;</li>
    </ul><!-- end of .listing-form__pagination -->
  </div><!-- /.formly-submit -->
</div>
