<div class="discussion-search admin">
  <form class="discussion-search__form">
    <label for="">Quick Search</label>
    <div class="discussion-search__form--fields">
      <input class="discussion-search__form--search" type="text" ng-model="vm.searchTransactions">
    </div><!-- /.discussion-search__form--fields -->
  </form><!-- /.discussion-search__form -->

  <button type="button" class="button" ng-class="{'disabled': !canExportTransactions}" ng-csv="exportTransactions" filename="transactions.csv" lazy-load="true" csv-header="['User Email', 'User ID', 'Transaction ID', 'Transaction Type', 'Listing ID', 'Offer ID', 'Amount', 'Date', 'Payment Status']">Export All Transactions</button>
</div><!-- /.discussion-search -->

<div class="marketplace-listings__wrapper">
  <div class="marketplace-listings">
    <table>
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="transactionSort = 'date'; sortReverse = !sortReverse">
              Date
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="transactionSort = 'user.name.last'; sortReverse = !sortReverse">
              User
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="transactionSort = 'description'; sortReverse = !sortReverse">
              Description
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="transactionSort = 'credit'; sortReverse = !sortReverse">
              Credit
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="transactionSort = 'debit'; sortReverse = !sortReverse">
              Debit
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in vm.allTransactions | orderBy:transactionSort:sortReverse">
          <td>{{transaction.date | date}}</td>
          <td>{{transaction.user.name.first}} {{transaction.user.name.last}}</td>
          <td><strong>{{transaction.entry}}:</strong> {{transaction.description}}</td>
          <td class="dashboard__table--credits">{{transaction.credit | currency}}</td>
          <td class="dashboard__table--debits">{{transaction.debit | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.marketplace-listings -->
</div><!-- /.marketplace-listings__wrapper -->
