<div class="discussion-search admin">
  <form class="discussion-search__form">
    <label for="">Quick Search</label>
    <div class="discussion-search__form--fields">
      <input class="discussion-search__form--search" type="text" ng-model="vm.searchListings">
    </div><!-- /.discussion-search__form--fields -->
  </form><!-- /.discussion-search__form -->

  <button type="button" class="button" ng-class="{'disabled': !canExportListings}" ng-csv="exportListings" filename="listings.csv" lazy-load="true" csv-header="['ID', 'Business Name', 'Status', 'Submitted', 'Published', 'Completed', 'Amount', 'Borrower Rate', 'Benchmark Rate', 'Term', 'Expiration', 'Type', 'City', 'Province', 'Listing Title', 'User Email', 'Phone', '% Funded', '# of Offers', 'Affiliate']">Export All Listings</button>
</div><!-- /.discussion-search -->

<div class="marketplace-listings__wrapper">
  <div class="marketplace-listings">
    <table>
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
              Created
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'general.businessName'; sortReverse = !sortReverse">
              Business
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'general.address.city'; sortReverse = !sortReverse">
              Location
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'general.industry'; sortReverse = !sortReverse">
              Industry
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'admin.basics.userRate'; sortReverse = !sortReverse">
              Rate
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'details.term'; sortReverse = !sortReverse">
              Term
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
              Time
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'pod'; sortReverse = !sortReverse">
              POD
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#">
              Actions
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="listing in vm.allListings | orderBy:sortType:sortReverse">
          <td>{{listing.date | date}}</td>
          <td><a ui-sref="marketplace.listing.profile({id: listing._id})">{{listing.general.businessName}}</a></td>
          <td>{{listing.general.address.city}} {{listing.general.address.province}}</td>
          <td>{{listing.general.industry}}</td>
          <td>{{listing.admin.basics.listedRate}}%</td>
          <td>{{listing.details.term}} Months</td>
          <td>{{listing.admin.basics.deadline | amCalendar}}</td>
          <td>{{listing.admin.scores.cds}}%</td>
          <td>
            <a ng-show="listing.status=='review'" ng-click="vm.approve(listing._id)" class="button small"><i class="fa fa-check"></i></a>
            <a ui-sref="admin.editlisting.general({id: listing._id})" class="button small edit"><i class="fa fa-pencil"></i></a>
            <a ui-sref="admin.editlisting.admin({id: listing._id})" class="button small"><i class="fa fa-cog"></i></a>
            <a ng-click="vm.deleteListing(listing)" class="button small warning"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.marketplace-listings -->
</div><!-- /.marketplace-listings__wrapper -->
