<div class="discussion-search admin">
  <form class="discussion-search__form">
    <label for="">Quick Search</label>
    <div class="discussion-search__form--fields">
      <input class="discussion-search__form--search" type="text" ng-model="vm.searchUsers">
    </div><!-- /.discussion-search__form--fields -->
  </form><!-- /.discussion-search__form -->

  <button type="button" class="button" ng-class="{'disabled': !canExportUsers}" ng-csv="exportUsers" filename="users.csv" lazy-load="true" csv-header="['ID', 'First Name', 'Last Name', 'Email', 'Role', 'Join Date', 'Last Login', 'Status', 'FinAppsID', '# Listings', '$ Loaned', '# Offers', '$ Offered', '# Investment', '$ Invested', 'Affiliate']">Export All Users</button>

  <button type="button" class="button" ng-class="{'disabled': !canExportBalances}" ng-csv="exportBalances" filename="balances.csv" lazy-load="true" csv-header="['Email', 'ID', 'Balance', 'Invested', '# of Transactions', 'Join Date', 'Affiliate']">Export User Balances</button>
</div><!-- /.discussion-search -->

<div class="marketplace-listings__wrapper">
  <div class="marketplace-listings">
    <table>
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'joined'; sortReverse = !sortReverse">
              Joined
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'username'; sortReverse = !sortReverse">
              Username
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'name.last'; sortReverse = !sortReverse">
              Name
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
              Email
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
              Role
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'borrower.status'; sortReverse = !sortReverse">
              Status
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'borrower.level'; sortReverse = !sortReverse">
              Level
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th><a>Actions</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.allUsers | orderBy:sortType:sortReverse">
          <td>{{user.joined | date}}</td>
          <td>{{user.username}}</td>
          <td>{{user.name.first}} {{user.name.last}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <span ng-show="user.role==='investor'">{{user.investor.status}}</span>
            <span ng-show="user.role==='borrower'">{{user.borrower.status}}</span>
          </td>
          <td>
            <span ng-show="user.role==='investor'">{{user.investor.level}}</span>
            <span ng-show="user.role==='borrower'">{{user.borrower.level}}</span>
          </td>
          <td>
            <a href="#" ui-sref="admin.edituser.profile({id: user._id})" class="button small edit"><i class="fa fa-pencil"></i></a>
            <a href="#" ui-sref="admin.edituser.admin({id: user._id})" class="button small"><i class="fa fa-cog"></i></a>
            <a href="#" ng-click="vm.delete(user)" class="button small warning"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.marketplace-listings -->
</div><!-- /.marketplace-listings__wrapper -->
