/*=============================
=            Forms            =
=============================*/

select {
  display: none;
}

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]),
#{$all-text-inputs} {
  @include transition;
  @include input-placeholder;
  @include font-size;
  padding: rem(10);
  width: 100%;
  border: 1px solid $color-grey-light;
  outline: none;
  border-radius: $border-radius;

  &:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $color-white inset;
    -webkit-text-fill-color: $color-grey-med;
  }

  &:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px $color-white inset;
    -webkit-text-fill-color: $color-grey-med;
  }

  &.ng-invalid.ng-touched {
    border-color: $color-warning;
  }

  &.ng-valid {
    &:not(.ng-pristine) {
      border-color: $color-success;
    }
  }

  &[disabled="disabled"] {
    background: $color-grey-pale;
    &:hover,
    &:focus {
      border-color: $color-grey-light;
    }
  }
}

.formly-field-group {
  .input-style {
    @include transition;
    @include input-placeholder;
    @include font-size;
    padding: rem(10);
    width: 100%;
    border: 1px solid $color-grey-light;
    outline: none;
    border-radius: $border-radius;
    margin-bottom: 0;
    line-height: normal;
    font-style: normal;
    color: $color-grey-dark;

    a {
      font-style: normal;
      font-weight: 600;
      text-decoration: none;
    }

    &.has-addon {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border-color: $color-accent;
  outline: none;
}

label {
  @include font-primary(600);
  @include font-size;
  margin: 0 0 rem(5) 0;
  color: $color-grey-med;
  display: block;
}

button,
button[type="submit"],
input[type="submit"] {
  @include button;

  &.disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
}

select {

}

input[type="checkbox"] {

}

input[type="radio"] {

}

/*----------  Layout  ----------*/

.form-subtitle {
  @include font-primary(600);
  @include font-size(18);
  text-transform: uppercase;
  margin: 0 0 rem(20) 0;
  color: $color-slate-dark;
  border-bottom: 1px solid $color-grey-light;
}

.form-break {
  background: none;
  height: 1px;
  margin: rem(20) 0;
}

.form__rows {
  @include list-zero;

  input[type="checkbox"] {
    display: block;
    float: left;
    margin: rem(5) rem(10) 0 0;
  }
}

.formly-field-group,
.form__row {
  @include clearfix;
  display: block;
  margin-bottom: rem(20);

  &.form__row--split {
    font-size: 0;
    margin-left: rem(-20);
  }

  p {
    @include font-primary(500);
    @include font-size(18);
    font-style: italic;
    color: rgba($color-grey-med, 0.8);

    &.help-block,
    &.form__row--description {
      @include font-primary(600);
      @include font-size(12);
      font-style: italic;
      color: rgba($color-grey-med, 0.6);
      margin-bottom: rem(5);

      &.below {
        margin-bottom: 0;
        margin-top: rem(5);
      }
    }
  }

  .help-block {
    @include font-size(12);
    font-style: normal;
    margin-top: rem(5);
    color: $color-warning;
  }

  a {
    @include font-primary(500);
    font-style: italic;
    text-decoration: underline;
  }

  .application-form__wrapper & {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formly-field-group__social,
.form__row--social {
  margin-bottom: rem(30);
}

.formly-field-group__underlined,
.form__row--underline {
  border-bottom: 1px solid $color-grey-light;
  margin-bottom: rem(20);
}

.form__split--half,
.form__split--third,
.form__split--two-thirds,
.form__split--quarter,
.form__split--sixth {
  @include font-size;
  display: inline-block;
  vertical-align: top;
  padding-left: rem(20);

  &.bottom {
    vertical-align: bottom;
  }
}

.form__split--half {
  width: 50%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--quarter {
  width: 25%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--third {
  width: 33.333%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--sixth {
  width: 16.666%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--two-thirds {
  width: 66.666%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formly-submit,
.form__row--submit {
  margin-bottom: 0;

  .formly-signup,
  .formly-login,
  button[name="signup"],
  button[name="login"] {
    @include font-primary(700);
    text-transform: uppercase;
    padding: rem(20) rem(30);
  }

  button[name="login"] {
    margin: 0 auto;
  }

  &.signup {
    text-align: right;
  }

  .login-form & {
    text-align: center;

    button[name="login"] {
      margin-bottom: rem(20);
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-dark;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .reset-form & {
    margin-top: rem(10);
  }
}

.form__radios {
  @include list-zero;

  .form__radio {
    display: inline-block;
    margin-right: rem(10);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.input-group {
  display: flex;

  .input-group-addon {
    @include font-size(18);
    display: block;
    width: rem(45);
    border: 1px solid $color-grey-light;
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
    color: $color-grey-med;
    text-align: center;
    line-height: 2;
    font-weight: normal;
  }

  input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]),
  #{$all-text-inputs} {
    border-radius: 0 $border-radius $border-radius 0;
  }
}


/*-----  TextAngular  ------*/

.ta-toolbar {
  .btn-group {
    display: inline-block;

    &:last-of-type {
      display: block;
      margin-top: rem(10);
    }
  }
  button {
    @include font-size(12);
    margin: 0;
    background: $color-grey-light;
    padding: rem(10) rem(12);
    border-radius: 0;
    border: 1px solid $color-grey-med-light;

    &:hover {
      background: $color-grey-med;
    }
  }
}

.ta-editor {
  @include transition;
  @include font-size;
  padding: rem(10);
  width: 100%;
  outline: none;
  border-radius: $border-radius;
  font-style: normal;
  background: $color-white;

  p {
    @include font-size;
    @include base-margin;
    color: $color-black;
    font-style: normal;
  }
}

.ta-root {
  > .ta-scroll-window.form-control {
    border: 1px solid $color-grey-light;
  }

  &.focussed {
    > .ta-scroll-window.form-control {
      border: 1px solid $color-accent;
      box-shadow: none;
    }
  }
}



/*-----  Flex Form  ------*/

.display-flex {
  display: flex;

  @include breakpoint(phone) {
    display: block;
  }
}

.owner-repeater {

  .formly__repeater--section .formly {
    flex-wrap: wrap;
  }

  .owner-repeater__name {
    width: 50%;
    padding-right: rem(20);
  }

  .owner-repeater__percentage {
    width: 25%;
    padding-right: rem(20);
  }

  .owner-repeater__guarantee {
    width: 25%;
    padding-right: rem(20);
  }

  .owner-repeater__address-1,
  .owner-repeater__address-city,
  .owner-repeater__address-province,
  .owner-repeater__address-postal {
    width: 25%;
    padding-right: rem(20);
    margin-top: rem(20);
  }
}

.display-flex-inline {
  display: inline-flex;
}

.formly__repeater--wrapper {
  @include clearfix;
  display: block;
  width: 100%;
  margin-bottom: rem(20);

  &.disabled {
    input {
      pointer-events: none;
      background: $color-grey-pale;

      &:focus,
      &:hover,
      &:active {
        border-color: $color-grey-light;
      }
    }

    label {
      pointer-events: none;
    }
  }
}

.formly__repeater {
  @include list-zero;
  display: block;
  width: 100%;
  margin-bottom: rem(10);
  border-radius: $border-radius;
}

.formly__repeater--section {
  display: block;
  width: 100%;
  border: 1px solid rgba($color-grey-light, 0.4);
  border-top: none;
  padding: rem(20);
  position: relative;

  &:first-of-type {
    border-top: 1px solid rgba($color-grey-light, 0.4);
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .formly {
    display: flex;
  }

  .help-block {
    @include font-primary(600);
    @include font-size(12);
    font-style: italic;
    color: rgba($color-grey-med, 0.6);
    margin: rem(5) 0 0 0;
  }
}

.formly__repeater--add {
  @include font-size(14);
  //float: right;
  background: $color-primary-med;

  &:hover {
    background: $color-slate-med;
  }

  .disabled & {
    pointer-events: none;
    &:hover {
      background: $color-primary-med;
    }
  }
}

.formly__repeater--remove {
  @include font-size(16);
  position: absolute;
  right: rem(5);
  top: rem(5);
  background: none;
  padding: 0;
  color: rgba($color-grey-light, 0.6);

  &:hover {
    background: none;
    color: $color-grey-light;
  }

  .disabled & {
    pointer-events: none;

    &:hover {
      color: rgba($color-grey-light, 0.6);
    }
  }
}

.radio-group {
  padding: rem(7) 0;
  .radio {
    display: inline-block;
    margin-right: rem(20);
    &:last-of-type {
      margin-right: 0;
    }
  }

  input[type="radio"] {
    margin-right: rem(2);
  }
}

.checkbox {
  input[type="checkbox"] {
    margin-right: rem(2);
  }
}

.offset-half {
  width: 50%;
  padding-right: rem(15);

  @include breakpoint(phone) {
    width: 100%;
    padding: 0;
  }
}

.offset-third {
  width: 33.333%;
  padding-right: rem(15);

  @include breakpoint(phone) {
    width: 100%;
    padding: 0;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;

  @include breakpoint(phone) {
    padding: 0;
  }
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;

  .not-form & {
    padding-right: 10px;
  }
}

[class*="flex-"]:last-child {
  .not-form & {
    padding-right: 0;
  }
}


/*-----  Dropzone  ------*/

.dropzone-uploader {
  @include font-size;
  background: none;
  border: 2px dashed $color-grey-light;
  color: $color-grey-med-light;
  border-radius: 0;
  width: 100%;
  padding: rem(20);

  &:hover,
  &:active {
    border-color: $color-accent;
    background: none;
    color: $color-grey-med-light;
  }

  .dz-preview {
    display: none;
  }

  &.dz-max-files-reached {
    pointer-events: none;
    opacity: 0.6;

    &:hover,
    &:active {
      border-color: $color-grey-light;
    }
  }
}

.dz-uploaded-files {
  @include list-zero;
  @include font-primary(600);
  @include font-size(12);
  color: $color-grey-med;

  li {
    position: relative;
    background: rgba($color-black, 0.1);
    padding: rem(5) rem(20) rem(5) rem(20);
    margin-bottom: rem(5);
    border-radius: $border-radius;

    &:before {
      font-family: $font-icons;
      position: absolute;
      left: rem(5);
      top: rem(5);
      content: "\f046";
      font-weight: normal;
    }

    a {
      @include font-primary(600);
      font-style: normal;
      color: inherit;
    }
  }

  .dz-uploaded-remove {
    @include font-size(14);
    font-family: $font-icons;
    position: absolute;
    right: rem(5);
    top: rem(7);
    padding: 0;
    color: $color-grey-med;
    background: none;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.form-message {
  text-align: center;
  font-weight: 400;
  color: $color-warning;
  margin-bottom: rem(20);

  p {
    @include font-size;
    color: $color-warning;
    font-style: normal;
  }
}

/*-----  End of Forms  ------*/
