/*=============================
=            Forms            =
=============================*/

select {
  display: none;
}

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]),
#{$all-text-inputs} {
  @include transition;
  @include input-placeholder;
  @include font-size;
  padding: rem(10);
  width: 100%;
  border: 1px solid $color-grey-light;
  outline: none;
  border-radius: $border-radius;

  &:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $color-white inset;
    -webkit-text-fill-color: $color-grey-med;
  }

  &:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px $color-white inset;
    -webkit-text-fill-color: $color-grey-med;
  }

  &.ng-invalid {
    border-color: $color-warning;
  }

  &.ng-valid {
    &:not(.ng-pristine) {
      border-color: $color-success;
    }
  }

  &[disabled="disabled"] {
    background: $color-grey-pale;
    &:hover,
    &:focus {
      border-color: $color-grey-light;
    }
  }
}

input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border-color: $color-accent;
  outline: none;
}

label {
  @include font-primary(600);
  @include font-size;
  margin: 0 0 rem(5) 0;
  color: $color-grey-med;
  display: block;
}

button,
button[type="submit"],
input[type="submit"] {
  @include button;
}

select {

}

input[type="checkbox"] {

}

input[type="radio"] {

}

/*----------  Gravity Forms  ----------*/

.gform_wrapper.gform_wrapper {
  margin: 0;
  max-width: none;

  .gform_heading {
    width: auto;
  }

  .gform_body {

    .gform_fields {
      .gfield {
        margin-bottom: rem(20);

        &.hide-label {
          .gfield_label {
            @include visually-hidden;
          }

          .ginput_complex {
            label {
              @include visually-hidden;
            }

            .name_first,
            .name_last {
              @include breakpoint(mobile) {
                width: 100%;
                margin-bottom: rem(20);
              }
            }
          }
        }

        &.gf-half {
          float: none;
          display: inline-block;
          width: 48.5%;
          margin: 0 1.5% rem(20) 0!important;

          @include breakpoint(mobile) {
            width: 100%;
          }
        }

        &.gf_left_third,
        &.gf_middle_third,
        &.gf_right_third {
          float: none;
          display: inline-block;
          width: 33.333%;
          margin: 0 0 rem(20) 0!important;

          @include breakpoint(mobile) {
            width: 100%;
          }
        }

        &.gf_left_third {
          padding-right: rem(10);

          @include breakpoint(mobile) {
            padding: 0;
          }
        }

        &.gf_middle_third {
          padding-right: rem(10);
          padding-left: rem(10);

          @include breakpoint(mobile) {
            padding: 0;
          }
        }

        &.gf_right_third {
          padding-left: rem(10);

          @include breakpoint(mobile) {
            padding: 0;
          }
        }

        .gfield_label {
          @include font-primary(600);
          margin: 0 0 rem(10) 0;
          text-transform: uppercase;

          .gfield_required {
            color: $color-accent;
          }
        }

        .ginput_container {
          margin: 0;

          #{$all-text-inputs} {
            @include input-placeholder;
            @include font-size(24);
            padding: rem(10);
            width: 100%;
            font-size: rem(24);
            border: 1px solid $color-grey-light;

            @include breakpoint(mobile) {
              @include font-size(18);
            }
          }

          #{$all-text-inputs-focus},
          #{$all-text-inputs-hover} {
            border-color: $color-accent;
          }

          .gfield_radio,
          .gfield_checkbox {
            @include list-zero;
            margin-left: rem(-20)!important; // overwriting gforms

            li {
              display: block;
              margin-left: rem(20)!important; // overwriting gforms

              input[type="radio"] {
                margin: 0 0 0 rem(4);
                display: inline-block;
                vertical-align: middle;
                float: none;

                &:checked + label {
                  color: $color-grey-dark;
                }

                .page-template-landing & {
                  &:checked + label {
                    color: $color-accent;
                  }
                }
              }

              input[type="text"] {
                @include font-size;
                width: auto;
                display: inline-block;
                vertical-align: middle;
                margin-left: rem(10);
              }

              input[type="checkbox"] {
                + label {
                  @include transition;
                  @include font-primary(300);
                  @include font-size;
                  color: $color-grey-light;
                }

                &:checked + label {
                  color: $color-grey-dark;
                }
              }

              label {
                @include transition;
                @include font-primary(300);
                @include font-size;
                display: inline-block;
                vertical-align: middle;
                margin-left: rem(10);
                color: $color-grey-light;

                .page-template-landing & {
                  @include font-primary(300);
                  @include font-size(26);
                  color: $color-white;

                  &:hover {
                    color: $color-accent;
                  }
                }

                @include breakpoint(mobile) {
                  @include font-size(18);
                }
              }

              @include breakpoint(mobile) {
                display: block;
              }
            }
          }
        }
      }
    }

  }

  .gform_footer {
    padding: 0;

    input[type="submit"] {
      @include button;
    }

  }

}


/*----------  Chosen  ----------*/

.chosen-container-active {
  &.chosen-with-drop {
    .chosen-single {
      @include font-size;
      box-shadow: none;
      background: $color-white;
      border-radius: $border-radius $border-radius 0 0;
      border: 1px solid $color-grey-light;
      padding: rem(10);
      height: auto;
      line-height: normal;
      color: $color-grey-light;

      div {
        background: none;
      }
    }
  }
}

.chosen-container-single {
  min-width: 100%;
  max-width: 100%;
  .chosen-search {
    input[type="text"] {
      background-image: none!important; // overwrite default sprite
      @media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx) {
        background-image: none!important; // overwrite default sprite
      }
    }
  }
  .chosen-single {
    @include font-primary(300);
    @include font-size;
    box-shadow: none;
    background: $color-white;
    border-radius: $border-radius;
    border: 1px solid $color-grey-light;
    padding: rem(10);
    height: auto;
    line-height: normal;
    color: $color-grey-light;
    font-style: italic;
    div {
      width: rem(40);
      background: none;
      b {
        position: relative;
        background-image: none!important; // overwrite default sprite
        @media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx) {
          background-image: none!important; // overwrite default sprite
        }
        &:after {
          @include font-size(20);
          position: absolute;
          font-family: $font-icons;
          content: "\f107";
          top: rem(10);
          left: 0;
          right: 0;
          color: $color-primary;
          text-align: center;
          font-style: normal;
        }
      }
    }
  }
  .chosen-drop {
    @include font-size(18);
    box-shadow: none;
    border-color: $color-grey-light;
    border-radius: 0;
  }
  .chosen-results {
    padding: 0;
    margin: 0;
    .active-result {
      padding: rem(5) rem(10);
      &.highlighted {
        background: $color-accent;
      }
    }
  }
}

/*----------  Layout  ----------*/

.form__rows {
  @include list-zero;

  input[type="checkbox"] {
    display: block;
    float: left;
    margin: rem(5) rem(10) 0 0;
  }
}

.formly-field-group,
.form__row {
  @include clearfix;
  display: block;
  margin-bottom: rem(20);

  &.form__row--split {
    font-size: 0;
    margin-left: rem(-20);
  }

  p {
    @include font-primary(500);
    @include font-size(18);
    font-style: italic;
    color: rgba($color-grey-med, 0.8);

    &.help-block,
    &.form__row--description {
      @include font-primary(600);
      @include font-size(12);
      font-style: italic;
      color: rgba($color-grey-med, 0.6);
      margin-bottom: rem(5);

      &.below {
        margin-bottom: 0;
        margin-top: rem(5);
      }
    }
  }

  .help-block {
    @include font-size(12);
    font-style: normal;
    margin-top: rem(5);
    color: $color-warning;
  }

  a {
    @include font-primary(500);
    font-style: italic;
    text-decoration: underline;
  }

  .application-form__wrapper & {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formly-field-group__social,
.form__row--social {
  margin-bottom: rem(30);
}

.formly-field-group__underlined,
.form__row--underline {
  border-bottom: 1px solid $color-grey-light;
  margin-bottom: rem(20);
}

.form__split--half,
.form__split--third,
.form__split--two-thirds,
.form__split--quarter,
.form__split--sixth {
  @include font-size;
  display: inline-block;
  vertical-align: top;
  padding-left: rem(20);
}

.form__split--half {
  width: 50%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--quarter {
  width: 25%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--third {
  width: 33.333%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--sixth {
  width: 16.666%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__split--two-thirds {
  width: 66.666%;

  @include breakpoint(mobile) {
    display: block;
    width: auto;
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formly-submit,
.form__row--submit {
  margin-bottom: 0;

  .formly-signup,
  .formly-login,
  button[name="signup"],
  button[name="login"] {
    @include font-primary(700);
    text-transform: uppercase;
    padding: rem(20) rem(30);
  }

  button[name="login"] {
    margin: 0 auto;
  }

  &.signup {
    text-align: right;
  }

  .login-form & {
    text-align: center;

    button[name="login"] {
      margin-bottom: rem(20);
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-dark;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .reset-form & {
    margin-top: rem(10);
  }
}

.form__radios {
  @include list-zero;

  .form__radio {
    display: inline-block;
    margin-right: rem(10);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

/*----------  Zocial  ----------*/

.social-button,
a.social-button {
  @include font-primary(400);
  @include font-size(16);
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: $border-radius;
  padding: rem(8) rem(15);
  background-image: none;
  text-decoration: none;
  color: $color-white;
  line-height: 2.1;
  display: inline-block;

  &:before {
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    float: none;
    border-right: 1px solid rgba($color-white, 0.2);
    margin: 0 rem(10) 0 0;
    padding: 0 rem(15) 0 0;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-image: none;
  }

  &.social-facebook {
    background: #3C5B9A;

    &:before {
      font-family: $font-icons;
      content: "\f09a";
      padding: 0 rem(18) 0 rem(3);
    }

    &:hover {
      background: #4664B2;
    }
  }

  &.social-googleplus {
    background: #DC4E40;

    &:before {
      font-family: $font-icons;
      content: "\f0d5";
      padding-right: rem(10);
    }

    &:hover {
      background: #DB5032;
    }
  }

}


/*-----  TextAngular  ------*/

.ta-toolbar {
  .btn-group {
    display: inline-block;

    &:last-of-type {
      display: block;
      margin-top: rem(10);
    }
  }
  button {
    @include font-size(12);
    margin: 0;
    background: $color-grey-light;
    padding: rem(10) rem(12);
    border-radius: 0;
    border: 1px solid $color-grey-med-light;

    &:hover {
      background: $color-grey-med;
    }
  }
}

.ta-editor {
  @include transition;
  @include font-size;
  padding: rem(10);
  width: 100%;
  outline: none;
  border-radius: $border-radius;
  font-style: normal;
  background: $color-white;

  p {
    @include font-size;
    @include base-margin;
    color: $color-black;
    font-style: normal;
  }
}

.ta-root {
  > .ta-scroll-window.form-control {
    border: 1px solid $color-grey-light;
  }

  &.focussed {
    > .ta-scroll-window.form-control {
      border: 1px solid $color-accent;
      box-shadow: none;
    }
  }
}



/*-----  Flex Form  ------*/

.display-flex {
  display: flex;
}

.display-flex-inline {
  display: inline-flex;
}

.formly__repeater--wrapper {
  @include clearfix;
  display: block;
  width: 100%;
  margin-bottom: rem(20);
}

.formly__repeater {
  @include list-zero;
  display: block;
  width: 100%;
  margin-bottom: rem(10);
  border-radius: $border-radius;
}

.formly__repeater--section {
  display: block;
  width: 100%;
  border: 1px solid rgba($color-grey-light, 0.4);
  border-top: none;
  padding: rem(20);
  position: relative;

  &:first-of-type {
    border-top: 1px solid rgba($color-grey-light, 0.4);
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .formly {
    display: flex;
  }

  .help-block {
    @include font-primary(600);
    @include font-size(12);
    font-style: italic;
    color: rgba($color-grey-med, 0.6);
    margin: rem(5) 0 0 0;
  }
}

.formly__repeater--add {
  @include font-size(14);
  //float: right;
  background: $color-primary-med;

  &:hover {
    background: $color-slate-med;
  }
}

.formly__repeater--remove {
  @include font-size(16);
  position: absolute;
  right: rem(5);
  top: rem(5);
  background: none;
  padding: 0;
  color: rgba($color-grey-light, 0.6);

  &:hover {
    background: none;
    color: $color-grey-light;
  }
}

.radio-group {
  padding: rem(7) 0;
  .radio {
    display: inline-block;
    margin-right: rem(20);
    &:last-of-type {
      margin-right: 0;
    }
  }

  input[type="radio"] {
    margin-right: rem(2);
  }
}

.checkbox {
  input[type="checkbox"] {
    margin-right: rem(2);
  }
}

.offset-half {
  width: 50%;
  padding-right: rem(15);
}

.offset-third {
  width: 33.333%;
  padding-right: rem(15);
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}


/*-----  End of Forms  ------*/
