table {
  @include font-size(16);
  width: 100%;
}

th {
  text-transform: uppercase;
  text-align: left;
  padding-right: rem(5);

  a {
    display: block;
    background: $color-grey-pale;
    border-radius: $border-radius;
    padding: rem(10) rem(20);
    color: $color-black;
    text-transform: uppercase;
    line-height: 1;
    position: relative;

    &:hover {
      color: $color-primary-med;
    }
  }

  .marketplace-listings & {
    a {
      background: $color-slate-dark;
      color: $color-white;

      &:hover {
        color: $color-primary-med;
      }
    }
  }

  .fa {
    @include font-size(20);
    position: absolute;
    right: rem(10);
    color: $color-primary;

    &.fa-angle-up {
      top: rem(2);
    }

    &.fa-angle-down {
      bottom: rem(2);
    }
  }
}

td {
  @include font-primary(600);
  padding: rem(20);
  border-bottom: 1px solid $color-grey-light;
  color: $color-slate-med;

  strong {
    text-transform: uppercase;
  }

  &.dashboard__table--credits {
    color: $color-success;
  }
  &.dashboard__table--debits {
    color: $color-warning;
  }
}
