/*==================================
=            Typography            =
==================================*/

// Based on Typeplate

/*==========  Headings  ==========*/

#{$all-text-elements} {
  &.warning {
    color: $color-warning;
  }
  &.success {
    color: $color-success;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-primary(300);
  @include base-margin;
  color: $color-heading;
  line-height: 1.1;

  .entry-content & {
    margin: rem(20) 0;
  }

  &[contenteditable="true"] {
    outline: none;
    background: rgba($color-white, 0.1);
  }
}

h1 {
  @include font-size(65);
  text-transform: uppercase;

  &.entry-title {
    color: $color-white;
    letter-spacing: 3px;
    line-height: 1;
    margin: 0;
    position: relative;

    @include breakpoint(phone) {
      @include font-size(38);
    }
  }

  &.widget-title {
    @include font-primary(600);
    @include font-size(18);
    text-transform: uppercase;
    background: $color-slate-med;
    color: $color-white;
    margin: rem(-20) rem(-20) rem(20) rem(-20);
    padding: rem(10) rem(20);
    line-height: 1;
    border-radius: $border-radius $border-radius 0 0;
  }
}

h2 {
  @include font-primary(400);
  @include font-size(35);
  color: $color-slate-light;

  &.large-hero__title {
    @include font-primary(300);
    @include font-size(50);
    color: $color-white;
    margin-bottom: 0;

    @include breakpoint(mobile) {
      @include font-size(25);
    }
  }

  &.block__grey-block--title {
    color: $color-primary;
    text-transform: uppercase;
  }

  &.dashboard--details__large {
    @include font-size(58);
    @include font-primary(700);
    color: $color-white;

    @include breakpoint(phone) {
      @include font-size(38);
    }
  }

  &.listing-hero__title {
    margin-bottom: rem(5);
  }
}

h3 {
  @include font-primary(400);
  @include font-size(20);
  color: $color-grey-med;
  line-height: 1.4;

  &.large-hero__subtitle {
    @include font-primary(300);
    @include font-size(30);
    color: $color-white;
    margin-top: rem(30);
    margin-bottom: 0;

    @include breakpoint(mobile) {
      @include font-size(18);

      br {
        display: none;
      }
    }
  }

  &.block--title {
    @include font-primary(300);
    @include font-size(40);
    line-height: 1.1;
    color: $color-black;

    .block__grey-block & {
      @include font-size(30);
      margin-bottom: rem(30);
    }

    @include breakpoint(mobile) {
      @include font-size(30);
    }
  }

  &.dashboard--details__medium {
    @include font-primary(300);
    @include font-size(48);
    color: $color-white;
    text-transform: uppercase;
    line-height: 1;

    a {
      @include font-primary(300);
      text-transform: uppercase;
    }

    &.positive,
    &.negative {
      @include font-primary(400);
      @include font-size(40);
    }

    &.positive {
      color: $color-success;
    }
    &.negative {
      color: $color-warning;
    }

    @include breakpoint(phone) {
      @include font-size(30);
    }
  }

  &.marketplace-feature__title {
    @include font-primary(600);
    margin-bottom: 0;
    line-height: 1.05;
    .referral & {
      color: $color-white;
    }
  }

  &.general-content__section--title {
    @include font-primary(700);
    @include font-size(16);
    color: $color-white;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
  }

  &.meter__label {
    @include font-primary(600);
    color: $color-success;
  }
}

h4 {
  @include font-primary(600);
  @include font-size(22);
  color: $color-slate-light;

  &.general-content__section--subtitle {
    @include font-size(16);
    @include font-primary(600);
    text-transform: uppercase;
    border-bottom: 1px solid $color-grey-light;
    line-height: 1.4;
    margin: rem(40) 0 rem(10);
    color: $color-slate-dark;
  }

  .offer-terms__snippet &,
  &.profile-about__label {
    @include font-size(12);
    @include font-primary(700);
    color: $color-slate-dark;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: rem(20);
  }

  &.profile-about__label {
    margin-bottom: rem(5);
  }

  &.faq__question {
    @include font-size;

    a {
      color: $color-primary-med;

      &.active,
      &:hover {
        color: $color-primary-dark;
        text-decoration: underline;
      }
    }
  }
}

h5 {
  @include font-primary(600);
  @include font-size(18);
  text-transform: uppercase;
  color: $color-secondary;

  .entry-content & {
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: rem(5);
  }
}

h6 {
  @include font-size;
}


/*==========  Paragraphs  ==========*/

p {
  @include base-margin;
  color: $color-grey-dark;

  .block--text & {
    @include font-size(18);
    max-width: rem(600);
  }

  &.description {
    @include font-size;
    font-weight: 600;
    font-style: italic;
    color: $color-grey-med;
    margin-bottom: 0;
  }
}

strong {
  @include font-primary(600);
}


/*==========  Blockquotes  ==========*/

figure {
  margin: rem(30) 0;
}

blockquote {
  @include font-primary(700, italic);
  @include font-size(27);
  margin: 0;

  p {
    color: $color-slate-light;

    &:before {
      content: "\201c";
    }

    &:after {
      content: "\201d";
    }
  }

  + figcaption cite {
    @include font-size(16);
    color: $color-grey-med-light;
    text-transform: uppercase;
    font-style: normal;

    small {
      @include font-size(16);
    }

    strong {
      text-transform: uppercase;
    }
  }

  .endorsement & {
    @include font-size;
    font-weight: 400;

    p {
      color: $color-black;
    }
  }
}

/*==========  Legal Text  ==========*/

small {

}


/*==========  Code Blocks  ==========*/

pre {
  code {

  }
}

code {

}


/*==========  Small Caps  ==========*/

abbr {

}


/*==========  Unordered Lists  ==========*/

ul {

  .entry-content & {
    @include font-size;
    margin: rem(20) 0;
    padding-left: rem(60);
  }

  &.list--zero {
    @include list-zero;
  }

  li {

    .entry-content & {
      margin-bottom: rem(10);
    }

  }
}


/*==========  Ordered Lists  ==========*/

ol {

  .entry-content & {
    @include font-size;
    margin: rem(20) 0;
    padding-left: rem(60);
  }

  li {

    .entry-content & {
      margin-bottom: rem(10);
    }

  }
}


/*==========  Definition Lists  ==========*/

dt,
dd {
  display: inline;
  margin: 0;
}

dd:after {
  content: '\A';
  white-space: pre;
}


/*==========  Tables  ==========*/

table {
  @include base-margin;
}


/*==========  Links  ==========*/

a {
  @include transition;
  @include font-primary(600);
  text-decoration: none;
  color: $color-links;

  &:hover,
  &:focus {
    outline: none;
    color: $color-links-hover;
  }

  .entry-content & {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
      color: $color-accent;
    }
  }
}

.button {
  @include button;

  &.large {
    @include font-size(30);
    text-transform: uppercase;
    padding: rem(20) rem(40);

    @include breakpoint(mobile) {
      @include font-size(20);
      padding: rem(12) rem(20);
    }
  }

  &.small {
    @include font-primary(700);
    @include font-size(13);
    background: $color-primary;
    padding: rem(8) rem(10);

    &:hover {
      background: $color-primary-dark;
    }
  }

  &.ghost {
    border: 3px solid $color-white;
    color: $color-white;
    background: none;
    padding: rem(12) rem(25);

    &:hover {
      background: $color-white;
      color: $color-secondary;
    }
  }

  &.edit-button {
    padding: 0;
    background: none;
    border-radius: 0;
    &:hover {
      cursor: pointer;
      color: $color-secondary;
    }
    &.editing {
      color: $color-secondary;
    }
  }

  &.warning {
    background: $color-warning;
    &:hover {
      background: darken($color-warning, 10%);
    }
  }

  &.edit,
  &.success {
    background: $color-secondary;
    &:hover {
      background: darken($color-secondary, 10%);
    }
  }

  &.accent {
    background: $color-accent;
    &:hover {
      background: darken($color-accent, 10%);
    }
  }

  &.pending {
    background: $color-grey-med-light;
    &:hover {
      background: darken($color-grey-med-light, 10%);
    }
  }
}


/*----------  Others  ----------*/

hr {
  background: $color-grey-light;
  height: rem(1);
  margin: rem(40) 0;
  border: none;
}

.fa {

  &.warning {
    @include font-size(12);
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1.5;
    text-align: center;
    background: $color-warning;
    color: $color-white;
    width: rem(18);
    height: rem(18);
    border-radius: 100%;
  }

  &.success {
    @include font-size(12);
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1.5;
    text-align: center;
    background: $color-success;
    color: $color-white;
    width: rem(18);
    height: rem(18);
    border-radius: 100%;
  }

  &.pending {
    @include font-size(12);
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1.5;
    text-align: center;
    background: $color-grey-light;
    color: $color-white;
    width: rem(18);
    height: rem(18);
    border-radius: 100%;
  }

  &.new {
    @include font-size(12);
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1.5;
    text-align: center;
    background: $color-primary-med;
    color: $color-white;
    width: rem(18);
    height: rem(18);
    border-radius: 100%;
  }
}


/*-----  End of Typography  ------*/
