<div class="page-template-default">
  <div id="page" class="site">
    <navbar></navbar>

    <div id="content" class="site-content">
      <header class="entry-header">
        <h1 class="entry-title">Welcome</h1>
      </header>

      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <div class="content-wrapper">

            <ul class="account__forms--list">
              <li class="account__form">
                <div class="form__wrapper signup-form">
                  <h2 class="account__form--title">Sign Up</h2>

              		<div class="formly-field-group formly-field-group__social">
                		<oauth-buttons></oauth-buttons>
              		</div><!-- /.formly-field-group -->

            	    <div class="formly-field-group formly-field-group__underlined">
            	      <p>or fill out the info below</p>
            	    </div><!-- /.formly-field-group -->

                  <formly-form model="vm.newUser" fields="vm.signupFields" form="signup">
                    <div class="formly-field-group">
                      <div class="form-message" ng-show="vm.signupErrors">
                        <p>Please complete all required fields.</p>
                      </div><!-- /.form-message -->
                      <p>By signing up, you acknowledge that InvestNextDoor is not registered under the Canadian securities legislation, we do not provide advice about the suitability or merits of the security or investments and you agree to our <a ui-sref="legal.privacypolicy">Privacy Policy</a> and the <a ui-sref="legal.termsofservice">Terms of Service</a>.</p>
                    </div><!-- /.formly-field-group -->
                    <div class="formly-submit signup">
                      <button type="submit" name="signup" class="button formly-signup" ng-click="vm.register(signup)">Signup</button>
                    </div><!-- /.formly-submit -->
                  </formly-form>
                </div><!-- /.form__wrapper signup-form -->
              </li><!-- end of .account__form -->

              <li class="account__form">
                <div class="form__wrapper login-form">
                  <h2 class="account__form--title">Log In</h2>

              		<div class="formly-field-group formly-field-group__social">
                		<oauth-buttons></oauth-buttons>
              		</div><!-- /.formly-field-group -->

            	    <div class="formly-field-group formly-field-group__underlined">
            	      <p>or fill out the info below</p>
            	    </div><!-- /.formly-field-group -->

                  <formly-form model="vm.user" fields="vm.loginFields" form="login">
                    <div class="formly-submit signup">
                      <div class="form-message" ng-show="vm.loginErrors">
                        <p>Please check your email address and password and try again.</p>
                      </div><!-- /.form-message -->
                      <button type="submit" name="login" class="button formly-login" ng-click="vm.login(login)">Login</button>
                      <p>Need help with your password? <a ui-sref="resetpassword">Click Here</a></p>
                    </div><!-- /.formly-submit -->
                  </formly-form>
                </div><!-- /.form__wrapper signup-form -->
              </li><!-- end of .account__form -->

            </ul><!-- end of .account__forms--list -->

          </div><!-- /.content-wrapper -->
        </main><!-- /.site-main -->
      </div><!-- /.content-area -->
    </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div><!-- /.page-template-default -->
