<div class="page-template-default">
  <div id="page" class="site">
    <navbar></navbar>

      <div id="content" class="site-content">
        <header class="entry-header">
          <h1 class="entry-title">Welcome</h1>
        </header>

        <div id="primary" class="content-area">
          <div breadcrumbs class="breadcrumbs__wrapper"></div>

          <main id="main" class="site-main" role="main">
            <div class="content-wrapper">
              <div class="welcome__intro">
                <h2>Let's Get Started</h2>

                <p>You're signed up as an borrower and ready to go.</p>
                <p>Here are the next steps to get your account activated, as well as some information to help you get started.</p>
              </div><!-- /.welcome__intro -->

              <div class="accordion__wrapper">
                <div class="accordion">
                  <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">

                    <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">
                      <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content">
                        <h5>{{ ::pane.header }} <span>{{ ::pane.subtitle }}</span></h5>
                      </v-pane-header>

                      <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
                        <ul ng-show="pane.list">
                          <li ng-repeat="item in pane.list"><strong>{{ ::item.title }}:</strong> {{ ::item.content }}</li>
                        </ul>
                      </v-pane-content>
                    </v-pane>

                  </v-accordion>
                </div><!-- /.accordion -->
                <div class="accordion__quick-links">
                  <h3>Quick Links</h3>
                  <ul>
                    <li><a class="button small" ui-sref="dashboard.index">Dashboard</a></li>
                    <li><a class="button small" ui-sref="marketplace.index">Marketplace</a></li>
                    <li><a class="button small" ui-sref="listing.general">Create Listing</a></li>
                    <li><a class="button small" ui-sref="faq">FAQs</a></li>
                    <li><a class="button small" ui-sref="contact">Contact Us</a></li>
                  </ul>
                </div><!-- /.accordion__quick-links -->
              </div><!-- /.accordion__wrapper -->

              <div class="block--wrapper welcome__green-block--wrapper">
                <div class="block welcome__green-block">

                  <div class="block--text welcome__green-block--text">
                    <h3 class="block--title">Lending. Simplified</h3>
                    <p>We strive to make a difference in main street America by connecting the businesses that drive local economies with the investors that can take those businesses to the next level. &nbsp;Crowdlending is just the beginning of a groundbreaking journey. Our team of top financial professionals is constantly designing new channels within the financial landscape.</p>
                    <p>Trust us with your business vision and your investment goals and we will use our expertise to make them happen. &nbsp;Let’s build financial and social impact together.</p>
                    <a ui-sref="dashboard.index" class="button ghost">My Account</a>
                  </div><!-- end of .block__green-block--text -->

                  <div class="block--video welcome__green-block--video">
                    <div class="video-wrapper">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/oN2dt_nHIto?rel=0" frameborder="0" allowfullscreen=""></iframe>
                    </div><!-- end of .video-wrapper -->
                  </div><!-- end of .block__green-block--video -->

                </div><!-- end of .block block__green-block -->
              </div>

              <div class="block--wrapper block__blog-posts--wrapper">
                <div class="block block__blog-posts">

                  <ul class="block__blog-posts--list">
                    <li class="block__blog-post--wrapper">
                      <div class="block__blog-post">
                        <div class="block__blog-post--category">
                          <a>Success</a>
                        </div><!-- end of .block__blog-post--category -->
                        <div class="block__blog-post--image">
                          <img src="assets/images/uploads/page-image.jpg" alt="Sample Blog Post">
                          <h2 class="block__blog-post--title">Small Business Name or Person</h2>
                        </div><!-- end of .block__blog-post--image -->
                        <p>Donec sed odio dui. Maecenas sed diam eget risus varius…</p>
                        <a ui-sref="borrow.index">Read More</a>
                      </div><!-- end of .block__blog-post -->
                    </li><!-- end of .block__blog-post -->

                    <li class="block__blog-post--wrapper">
                      <div class="block__blog-post">
                        <div class="block__blog-post--category">
                          <a>Numbers</a>
                        </div><!-- end of .block__blog-post--category -->
                        <div class="block__blog-post--image">
                          <img src="assets/images/uploads/page-image.jpg" alt="Sample Blog Post">
                          <h2 class="block__blog-post--title">Sample Blog Post</h2>
                        </div><!-- end of .block__blog-post--image -->
                        <p>Donec sed odio dui. Maecenas sed diam eget risus varius…</p>
                        <a ui-sref="borrow.index">Read More</a>
                      </div><!-- end of .block__blog-post -->
                    </li><!-- end of .block__blog-post -->

                    <li class="block__blog-post--wrapper">
                      <div class="block__blog-post">
                        <div class="block__blog-post--category">
                          <a>Community</a>
                        </div><!-- end of .block__blog-post--category -->
                        <div class="block__blog-post--image">
                          <img src="assets/images/uploads/page-image.jpg" alt="Sample Blog Post">
                          <h2 class="block__blog-post--title">Headline about investor or borrower</h2>
                        </div><!-- end of .block__blog-post--image -->
                        <p>Donec sed odio dui. Maecenas sed diam eget risus varius…</p>
                        <a ui-sref="borrow.index">Read More</a>
                      </div><!-- end of .block__blog-post -->
                    </li><!-- end of .block__blog-post -->

                    <li class="block__blog-post--wrapper">
                      <div class="block__blog-post">
                        <div class="block__blog-post--category">
                          <a>Numbers</a>
                        </div><!-- end of .block__blog-post--category -->
                        <div class="block__blog-post--image">
                          <img src="assets/images/uploads/page-image.jpg" alt="Sample Blog Post">
                          <h2 class="block__blog-post--title">Sample Blog Post</h2>
                        </div><!-- end of .block__blog-post--image -->
                        <p>Donec sed odio dui. Maecenas sed diam eget risus varius…</p>
                        <a ui-sref="borrow.index">Read More</a>
                      </div><!-- end of .block__blog-post -->
                    </li><!-- end of .block__blog-post -->
                  </ul><!-- end of .block__blog-posts--list -->
                </div><!-- end of .block block__blog-posts -->
              </div><!-- end of .block--wrapper block__blog-posts--wrapper -->

            </div><!-- /.content-wrapper -->
          </main><!-- /.site-main -->
        </div><!-- /.content-area -->
      </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
