.accordion__wrapper {
  display: flex;

  .accordion {
    flex: 5;
    padding-right: rem(20);
  }
}

.accordion__quick-links {
  flex: 1;
  background: $color-grey-pale;
  padding: rem(10);
  border-radius: $border-radius;
  margin-bottom: rem(10);
  text-align: center;

  h3 {
    text-transform: uppercase;
  }

  ul {
    @include list-zero;
  }

  li {
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    display: block;
    background: $color-white;
    color: $color-primary-med;
    border: 2px solid $color-primary-med;
    text-transform: uppercase;

    &:hover {
      border: 2px solid $color-primary-dark;
      color: $color-white;
    }
  }
}

.vAccordion--default.vAccordion--default {

  v-pane.is-expanded {

    > v-pane-header {
      border: none;
      color: $color-white;
      background: $color-primary-med;
      border-radius: $border-radius $border-radius 0 0;

      h5 {
        color: $color-white;
      }
    }
  }

  v-pane {
    margin-bottom: rem(10);
  }

  v-pane-header {
    border: none;
    color: $color-primary-med;
    background: $color-slate-dark;
    border-radius: $border-radius;
    padding: rem(10);
    margin-bottom: 0;

    h5 {
      color: $color-primary-med;
      margin: 0;
      line-height: 1;
    }

    &:after,
    &:before {
      display: none;
    }
  }

  v-pane-content {
    background: $color-grey-pale;
    border-radius: 0 0 $border-radius $border-radius;

    > div {
      padding: rem(10);
    }
  }

}
