<div class="site-footer__wrapper">
  <div id="colophon" class="site-footer" role="contentinfo">

    <ul class="site-footer__columns">
      <li class="site-footer__column medium">
        <a class="site-footer__logo" href="/"><img src="assets/images/header-logo.png" alt="InvestNextDoor"></a>
      </li><!-- end of .site-footer__column -->
      <li class="site-footer__column large">
        <ul class="site-footer__menu">
          <li><a ui-sref="borrow">Become a Borrower</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="partners">Partners</a></li>
          <li><a ui-sref="invest">Become an Investor</a></li>
          <li><a ui-sref="faq">FAQ</a></li>
          <li><a ui-sref="blog">Blog</a></li>
          <li><a ui-sref="partner">Become a Partner</a></li>
          <li><a ui-sref="contact">Contact Us</a></li>
          <li><a ui-sref="legal.termsofservice">Terms of Service</a></li>
        </ul>
      </li><!-- end of .site-footer__column -->
      <li class="site-footer__column">
        <ul class="site-footer__social">
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
        </ul><!-- end of .site-footer__social -->
      </li><!-- end of .site-footer__column -->
    </ul><!-- end of .site-footer__columns -->

    <div class="site-info">
      Copyright 2016. InvestNextDoor. All Rights Reserved. | <a ui-sref="legal.privacypolicy">Privacy Policy</a>
    </div><!-- .site-info -->
  </div><!-- #colophon -->
</div>
