.form__social {
  li {

  }
}

.social-button,
a.social-button {
  @include font-primary(400);
  @include font-size(16);
  border: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: $border-radius;
  padding: rem(8) rem(15);
  background-image: none;
  text-decoration: none;
  color: $color-white;
  line-height: 2.1;
  display: inline-block;
  cursor: pointer;

  &:before {
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    float: none;
    border-right: 1px solid rgba($color-white, 0.2);
    margin: 0 rem(10) 0 0;
    padding: 0 rem(15) 0 0;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-image: none;
  }

  &.social-facebook {
    background: #3C5B9A;

    &:before {
      font-family: $font-icons;
      content: "\f09a";
      padding: 0 rem(18) 0 rem(3);
    }

    &:hover {
      background: #4664B2;
    }
  }

  &.social-googleplus {
    background: #DC4E40;

    &:before {
      font-family: $font-icons;
      content: "\f0d5";
      padding-right: rem(10);
    }

    &:hover {
      background: #DB5032;
    }
  }

}
