/*-----  About  ------*/

.about-intro,
.team-intro {
  text-align: center;
  margin-bottom: rem(40);

  .block--title {
    @include font-size(35);
    @include font-primary(400);
    color: $color-slate-med;
  }

  .button {
    margin-top: rem(20);
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: $color-primary-dark;
    }
  }
}

.team-intro {
  p {
    @include font-primary(400);
    @include font-size(20);
    color: $color-grey-med;
  }
}

.logos__wrapper {
  padding: rem(20) 0 rem(60);
}

.logos__list {
  @include list-zero;
  font-size: 0;
}

.logo__wrapper {
  @include font-size;
  display: inline-block;
  vertical-align: middle;
  width: 25%;

  img {
    display: block;
    margin: 0 auto;
  }

  @include breakpoint(mobile) {
    width: 50%;
  }

  @include breakpoint(phone) {
    width: 100%;
  }
}


.team-navigation {
  @include list-zero;
  font-size: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  margin: rem(60) auto;

  li {
    @include font-size;
    width: rem(270);
    padding: 0 rem(20);
    display: inline-block;
  }
}

.team-button {
  @include font-size(35);
  display: block;
  border: 2px solid $color-primary;
  text-transform: uppercase;
  padding: rem(10);

  span {
    @include font-size(20);
    display: block;
    font-weight: 400;
  }

  &:hover,
  &:focus {
    background: $color-primary;
    color: $color-white;
  }
}

.team-section {
  &:before {
    display: block;
    content: "";
    margin-top: -155px;
    height: 155px;
    visibility: hidden;
  }
}

.team-header {
  background: $color-slate-dark;
  position: relative;
  padding-top: rem(20);
  padding-bottom: rem(20);
  margin-bottom: rem(60);

  h2 {
    @include font-size(35);
    color: $color-white;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
  }

  &:before,
  &:after {
    background: $color-slate-dark;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }
  &:after {
    right: rem(-9999);
  }
}

.team-list {
  @include list-zero;
  font-size: 0;
  margin-bottom: rem(60);
}

.team-member__wrapper {
  @include font-size;
  display: inline-block;
  vertical-align: top;
  padding: 0 rem(60);
  margin-bottom: rem(40);

  .team_list__two & {
    width: 25%;

    @include breakpoint(mobile) {
      width: 50%;
    }
    @include breakpoint(phone) {
      width: 100%;
    }
  }

  .team_list__three & {
    width: 33.333%;

    @include breakpoint(mobile) {
      width: 50%;
    }
    @include breakpoint(phone) {
      width: 100%;
    }
  }
}

.team-member__link {
  display: inline-block;
  text-transform: uppercase;
  padding: rem(5) rem(10);

  &:focus {
    color: $color-primary;
  }

  &:hover,
  &.active {
    background: $color-primary;
    color: $color-white;

    &:focus {
      color: $color-white;
    }
  }
}

.team-member__image {
  img {
    display: block;
    border: 3px solid $color-primary;
    margin: 0 auto rem(10);
    border-radius: 100%;
  }
}

.team-member__name {
  @include font-size(22);
  margin-bottom: rem(5);
}

.team-member__title {
  @include font-size(20);
  color: $color-grey-light;
}

.team-member__bio {
  display: none;
  @include site-container;
  @include font-size(16);
  border: 1px solid $color-grey-pale;
  border-top: 2px solid $color-primary;
  background: $color-grey-paler;
  padding: rem(20) rem(60);
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
}
