.ngdialog.ngdialog-theme-default .ngdialog-close {
  &:before {
    //color: $color-primary-med;
  }

  &:hover {
    &:before {
      //color: $color-primary-dark;
    }
  }
}

.lightbox__inner {
  padding: rem(10);

  .widget__error {
    @include font-primary(600);
    text-align: center;
    color: $color-warning;
    margin-top: rem(20);

    p {
      @include font-size;
      color: $color-warning;
      font-style: normal;
    }
  }
}
