.listing-hero__wrapper {
  background: $color-grey-pale;
  position: relative;
  padding: rem(40) 0;

  &:before,
  &:after {
    background: $color-grey-pale;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.listing-hero {
  font-size: 0;
}

.listing-hero__logo,
.listing-hero__content,
.listing-hero__images {
  @include font-size;
  display: inline-block;
  vertical-align: top;
}

.listing-hero__logo {
  width: 10%;
  padding-right: rem(40);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include breakpoint(mobile) {
    min-width: rem(100);
    margin-bottom: rem(20);
  }
}

.listing-hero__content {
  width: 45%;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.listing-hero__images {
  width: 45%;
  @include breakpoint(mobile) {
    width: 100%;
  }
}

.listing-hero__images--slider {
  margin-bottom: 0;
  padding-left: rem(80);

  @include breakpoint(mobile) {
    padding-left: 0;
    margin-top: rem(40);
  }
}

.listing-hero__slide {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.listing-hero__actions {
  margin-top: rem(30);

  .button {
    @include font-primary(600);
    @include font-size(24);
    display: block;
    margin-bottom: rem(10);
    padding: rem(8);
    border: 3px solid $color-accent;

    &:hover {
      border-color: $color-secondary;
    }
  }
}

.listing-hero__actions--secondary {
  @include list-zero;
  display: table;
  width: 100%;

  li {
    display: table-cell;

    &:first-of-type {
      padding-right: rem(5);

      .button {
        background: $color-primary-med;
        border: 3px solid $color-primary-med;

        &:hover {
          background: $color-primary-dark;
          border-color: $color-primary-dark;
        }
      }

      @include breakpoint(phone) {
        padding: 0;
      }
    }

    &:last-of-type {
      padding-left: rem(5);

      .button {
        background: none;
        color: $color-primary-med;
        border: 3px solid $color-primary-med;

        &:hover {
          background: $color-primary-dark;
          color: $color-white;
          border-color: $color-primary-dark;
        }
      }

      @include breakpoint(phone) {
        padding: 0;
        margin-top: rem(5);
      }
    }

    @include breakpoint(phone) {
      display: block;
    }
  }

  .button {
    margin-bottom: 0;
  }
}


.listing-stats__wrapper {
  background: $color-slate-dark;
  position: relative;
  padding: rem(40) 0;

  &:before,
  &:after {
    background: $color-slate-dark;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.listing-stats__table {
  width: 100%;

  td {
    line-height: 1;
    color: $color-white;
  }

  .listing-stat {
    td {
      @include font-primary(300);
      @include font-size(44);
    }

    .term {
      text-transform: uppercase;
    }

    .time-remaining {
      @include font-primary(400);
      @include font-size(20);
    }

    .progress {
      width: 25%;
      .progress-bar__status {
        @include font-size(12);
        margin: rem(5) 0 0 0;
        line-height: 1;
        strong {
          text-transform: none;
        }
      }
    }
  }

  .listing-stat__label {
    td {
      @include font-primary(300);
      @include font-size(18);
      text-transform: uppercase;
      color: $color-white;
      border-top: 1px solid $color-grey-med-light;
      border-bottom: none;
      padding-top: rem(15);
    }
  }
}
