<div class="profile__wrapper">
  <div class="profile">
    <div class="profile__logo">
      <img src="{{logo.link}}" alt="{{vm.currentListing.general.businessName}}" ng-repeat="logo in vm.currentListing.social.logo">
    </div><!-- /.profile__logo -->
    <div class="profile__details">
      <h2 class="profile__details--title">{{vm.currentListing.general.businessName}}</h2>
      <ul class="profile__details--list">
        <li class="profile__details--address">
          {{vm.currentListing.general.address.street}}<br>
          {{vm.currentListing.general.address.city}}, {{vm.currentListing.general.address.province}}, {{vm.currentListing.general.address.postal}}
        </li><!-- /.profile__details--address -->
        <li class="profile__details--phone">
          <a href="#">{{vm.currentListing.general.phone | phone}}</a>
        </li><!-- /.profile__details--phone -->
        <li class="profile__details--website">
          <a href="{{vm.currentListing.general.website}}" target="_blank">{{vm.currentListing.general.website}}</a>
        </li><!-- /.profile__details--website -->
      </ul><!-- /.profile__details--list -->
    </div><!-- /.profile__details -->
    <div class="profile__sharing">
      <ul class="social-sharing">
        <li ng-show="vm.currentListing.social.facebook">
          <a href="{{vm.currentListing.social.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li ng-show="vm.currentListing.social.twitter">
          <a href="{{vm.currentListing.social.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li ng-show="vm.currentListing.social.linkedin">
          <a href="{{vm.currentListing.social.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li ng-show="vm.currentListing.social.youtube">
          <a href="{{vm.currentListing.social.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
        </li>
      </ul><!-- /.social-sharing -->

    </div><!-- /.profile__sharing -->
  </div><!-- /.profile -->
</div><!-- /.profile__wrapper -->

<div class="general-content__section about-company">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      About The Company
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->
  <p>{{vm.currentListing.details.reason}}</p>

  <ul class="general-content__detail-wrapper">
    <li>
      <table class="table--basic general-content__table">
        <tbody>
          <tr>
            <th><strong>Registered:</strong></th>
            <td>{{vm.currentListing.general.businessName}}</td>
          </tr>
          <tr>
            <th><strong>Structure:</strong></th>
            <td>{{vm.currentListing.general.structure}}</td>
          </tr>
          <tr>
            <th><strong>Industry:</strong></th>
            <td>{{vm.currentListing.general.industry}}</td>
          </tr>
          <tr>
            <th><strong>Founded:</strong></th>
            <td>{{vm.currentListing.general.founded | date}}</td>
          </tr>
          <tr>
            <th><strong>Employees:</strong></th>
            <td>{{vm.currentListing.general.employees}}</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <ul class="profile-about__meters">
        <li>
          <h4 class="profile-about__label">Years in Business</h4>
          <div meter="vm.meters.years"></div>
        </li>
        <li>
          <h4 class="profile-about__label">Bank Coverage Ratio</h4>
          <div meter="vm.meters.cash"></div>
        </li>
        <li>
          <h4 class="profile-about__label">Annual Revenue <span>(millions)</span></h4>
          <div meter="vm.meters.revenue"></div>
        </li>
        <li>
          <h4 class="profile-about__label">Probability of Default</h4>
          <div meter="vm.meters.probability"></div>
        </li>
      </ul><!-- /.profile-about__meters -->
    </li>
  </ul><!-- /.general-content__detail-wrapper -->

</div><!-- /.general-content__section -->

<div class="general-content__section" ng-show="vm.hasManagers">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Management
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->
  <table class="table--basic general-content__table">
    <tbody>
      <tr ng-repeat="manager in vm.currentListing.social.managers">
        <td><strong>{{manager.name}}</strong></td>
        <td>{{manager.title}}</td>
        <td><a href="{{manager.linkedin}}" target="_blank"><i class="fa fa-linkedin-square"></i></a></td>
      </tr>
    </tbody>
  </table>
</div><!-- /.general-content__section -->

<div class="general-content__section profile-endorsements" ng-show="vm.hasReviews">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Endorsements
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->
  <ul class="endorsements">
    <li class="endorsement" ng-repeat="review in vm.currentListing.social.reviews">
      <blockquote>
        <p>{{review.review}}</p>
      </blockquote>
      <cite><strong>{{review.name}}</strong> | {{review.title}}</cite>
    </li><!-- /.endorsement -->
  </ul><!-- /.endorsements -->
</div><!-- /.general-content__section -->

<div class="general-content__section">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Community
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->
  <ul class="list--zero profile-endorsements">
    <li><a href="#"><i class="fa fa-check-circle-o"></i> Faith</a></li>
    <li><a href="#"><i class="fa fa-check-circle-o"></i> Women Owned</a></li>
    <li><a href="#"><i class="fa fa-check-circle-o"></i> Locally Produced</a></li>
  </ul><!-- /.list--zero -->
</div><!-- /.general-content__section -->
