.marketplace-features__wrapper {
  padding: rem(20) 0;
  margin: 0 rem(-10);
}

.marketplace-features__list {
  margin-bottom: 0;
}

.marketplace-feature__wrapper {
  padding: 0 rem(10);
}

.marketplace-feature__link {
  @include aspect-ratio(3, 1);
  display: block;
  border: 1px solid $color-grey-light;

  &:hover {
    border-color: $color-accent;
  }
}

.marketplace-feature  {
  font-size: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.marketplace-feature__logo,
.marketplace-feature__content {
  @include font-size;
  vertical-align: middle;
}

.marketplace-feature__logo {
  flex: 1;
  display: flex;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.marketplace-feature__content--wrapper {
  display: flex;
  flex: 2;
  position: relative;
  align-content: stretch;
  align-items: flex-end;

  .referral & {
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($color-black, 0.4);
      content: "";
      z-index: 0;
    }
  }
}

.marketplace-feature__content {
  position: relative;
  z-index: 1;
  padding: rem(10);
}

.marketplace-feature__label {
  @include font-size(12);
  text-transform: uppercase;
  color: $color-slate-dark;

  .referral & {
    color: $color-white;
  }
}

.marketplace-filters__wrapper {
  background: $color-grey-pale;
  padding: rem(20) 0;
  position: relative;

  &:before,
  &:after {
    background: $color-grey-pale;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.marketplace-filters__list {
  @include list-zero;
  display: table;
  width: 100%;
}

.marketplace-filter__wrapper {
  display: table-cell;
}

.marketplace-filters__actions {
  @include list-zero;
  margin-top: rem(20);

  li {
    display: inline-block;
    margin-right: rem(30);
  }

  a {
    @include font-size(18);
    color: $color-primary-dark;
  }
}

.marketplace-listings__wrapper {
  padding: rem(20) 0;
}


/*-----  Listing  ------*/

.listing-main {
  display: flex;
}

.listing-hero__wrapper {
  background: $color-grey-pale;
  position: relative;
  padding: rem(40) 0;

  &:before,
  &:after {
    background: $color-grey-pale;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.listing-hero {
  font-size: 0;
}

.listing-hero__logo,
.listing-hero__content,
.listing-hero__images {
  @include font-size;
  display: inline-block;
  vertical-align: top;
}

.listing-hero__logo {
  width: 10%;
  padding-right: rem(40);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include breakpoint(mobile) {
    min-width: rem(100);
    margin-bottom: rem(20);
  }
}

.listing-hero__content {
  width: 45%;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.listing-hero__images {
  width: 45%;
  padding-left: rem(80);
  @include breakpoint(mobile) {
    width: 100%;
  }
}

.listing-hero__images--slider {
  margin-bottom: 0;

  button {
    top: calc(50% - 40px);
    margin-top: 0;
    width: auto;
    height: auto;
    z-index: 2;

    &:before {
      @include font-size(80);
      font-weight: 300;
      color: $color-grey-med;
      font-family: $font-icons;
    }
  }

  .slick-prev {
    left: rem(-40);
    &:before {
      content: '\f104';
    }
  }

  .slick-next {
    right: rem(-40);
    &:before {
      content: '\f105';
    }
  }

  @include breakpoint(mobile) {
    padding-left: 0;
    margin-top: rem(40);
  }
}

.listing-hero__slide {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.listing-hero__actions {
  margin-top: rem(30);

  .button {
    @include font-primary(600);
    @include font-size(24);
    display: block;
    margin-bottom: rem(10);
    padding: rem(8);
    border: 3px solid $color-accent;

    &:hover {
      border-color: $color-secondary;
    }
  }
}

.listing-hero__actions--secondary {
  @include list-zero;
  display: table;
  width: 100%;

  li {
    display: table-cell;

    &:first-of-type {
      padding-right: rem(5);

      .button {
        background: $color-primary-med;
        border: 3px solid $color-primary-med;

        &:hover {
          background: $color-primary-dark;
          border-color: $color-primary-dark;
        }
      }

      @include breakpoint(phone) {
        padding: 0;
      }
    }

    &:last-of-type {
      padding-left: rem(5);

      .button {
        background: none;
        color: $color-primary-med;
        border: 3px solid $color-primary-med;

        &:hover {
          background: $color-primary-dark;
          color: $color-white;
          border-color: $color-primary-dark;
        }
      }

      @include breakpoint(phone) {
        padding: 0;
        margin-top: rem(5);
      }
    }

    @include breakpoint(phone) {
      display: block;
    }
  }

  .button {
    margin-bottom: 0;
  }
}

.listing-stats__wrapper {
  background: $color-slate-dark;
  position: relative;
  padding: rem(10) 0;

  &:before,
  &:after {
    background: $color-slate-dark;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.listing-stats__table {
  width: 100%;
  margin-bottom: 0;

  td {
    line-height: 1;
    color: $color-white;
  }

  .listing-stat {
    td {
      @include font-primary(300);
      @include font-size(44);
    }

    .term {
      text-transform: uppercase;
    }

    .time-remaining {
      @include font-primary(400);
      @include font-size(20);
    }

    .progress {
      width: 25%;
      .progress-bar__status {
        @include font-size(12);
        margin: rem(5) 0 rem(-6) 0;
        line-height: 1;
        strong {
          text-transform: none;
        }
      }
    }
  }

  .listing-stat__label {
    td {
      @include font-primary(300);
      @include font-size(18);
      text-transform: uppercase;
      color: $color-white;
      border-top: 1px solid $color-grey-med-light;
      border-bottom: none;
      padding-top: rem(15);
    }
  }
}
