<div class="general-content__section financial-details">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Details
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <ul class="general-content__detail-wrapper">
    <li>
      <table class="table--basic general-content__table">
        <tbody>
          <tr>
            <th><strong>Total Outstanding Debt:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.debt | currency}}</td>
          </tr>
          <tr>
            <th><strong>12 Month Review:</strong></th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th><strong>Assets:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.assets}}</td>
          </tr>
          <tr>
            <th><strong>Current Inventory:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.inventory}}</td>
          </tr>
          <tr>
            <th><strong>Accounts Receivable:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.receivable}}</td>
          </tr>
          <tr>
            <th><strong>Owner Contribution:</strong></th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th><strong>Owners:</strong></th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th><strong>Personal Guarantee:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.commercialSpace}}</td>
          </tr>
          <tr>
            <th><strong>Financial Statements:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.financialStatements}}</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <ul class="general-content__callout">
        <li>
          <strong>No Lawsuits</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Bad Actors</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Criminal Activity</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Bankruptcy</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Liens</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Pending Litigation</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li class="general-content__callout--cta">
          <a href="#" ng-click="" class="button small">Make an Offer</a>
        </li><!-- /.general-content__callout--cta -->
      </ul><!-- /.general-content__callout -->
    </li>
  </ul><!-- /.general-content__detail-wrapper -->
</div><!-- /.general-content__section -->

<div class="general-content__section financial-files">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Additional Files
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <ul class="list--zero financial__files">
    <li ng-repeat="file in vm.currentListing.financial.additionalDocuments">
      <a href="{{file.link}}" target="_blank"><i class="fa fa-file-text-o"></i> {{file.name}}</a>
    </li>
  </ul><!-- /.list--zero -->
</div><!-- /.general-content__section -->
