<div class="general-content__section">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Ask A Question
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->
  <div class="discussion-question">
    <form class="discussion-question__form">
      <div class="discussion-question__form--details">
        <ul class="form__rows">
          <li class="form__row">
            <label for="">Question Title (Maximum Length: 80)</label>
            <input type="text">
          </li><!-- /.form__row -->
          <li class="form__row">
            <label for="">Topic Tags</label>
            <input type="text">
          </li><!-- /.form__row -->
          <li class="form__row">
            <label for="">
              <input type="checkbox">
              Notify me of follow-up replies via email
            </label>
          </li><!-- /.form__row -->
        </ul><!-- /.form__rows -->
      </div><!-- /.discussion-question__form--details -->
      <div class="discussion-question__form--question">
        <label for="">Question</label>
        <textarea></textarea>
        <button>Submit Question</button>
      </div><!-- /.discussion-question__form--question -->
    </form><!-- /.discussion-question__form -->
  </div><!-- /.discussion-question -->
</div><!-- /.general-content__section -->

<div class="general-content__section">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Discussion
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <div class="discussion-search">
    <form class="discussion-search__form">
      <label for="">Search Topic or Keyword</label>
      <div class="discussion-search__form--fields">
        <input class="discussion-search__form--search" type="text">
        <button class="discussion-search__form--submit">Search</button>
      </div><!-- /.discussion-search__form--fields -->
    </form><!-- /.discussion-search__form -->
  </div><!-- /.discussion-search -->

  <div class="discussion">
    <ul class="discussion__list">
      <li class="discussion__comment--wrapper" ng-repeat="comment in vm.currentListing.comments">
        <div class="discussion__comment">
          <a class="discussion__comment--toggle" href="#" ng-click="hideComments = !hideComments"><i class="fa fa-{{hideComments ? 'times' : 'plus'}}"></i></a>
          <p>{{comment.text}}</p>
          <div class="discussion__comment--meta">
            <p><strong>{{comment.user.username}}</strong> {{comment.date | date}} <a class="discussion__comment--reply" href="#">Reply</a> <a class="discussion__comment--view" href="#" ng-click="hideComments = !hideComments">{{hideComments ? 'Hide Comments' : 'View Comments'}}</a> <span class="tag" ng-repeat="tag in comment.tags">{{tag}}</span></p>
          </div><!-- /.discussion__comment--meta -->
        </div><!-- /.discussion__comment -->

        <ul ng-show="hideComments" class="discussion__replies">
          <li class="discussion__reply" ng-repeat="reply in comment.replies">
            <div class="discussion__comment">
              <p>{{reply.text}}</p>
              <div class="discussion__comment--meta">
                <p><strong>{{reply.user.username}}</strong> {{reply.date | date}} <a class="discussion__comment--reply" href="#">Reply</a></p>
              </div><!-- /.discussion__comment--meta -->
            </div><!-- /.discussion__comment -->
          </li><!-- /.discussion__reply -->
        </ul><!-- /.discussion__replies -->
      </li><!-- /.discussion__comment--wrapper -->

    </ul><!-- /.discussion__list -->
  </div><!-- /.discussion -->
</div><!-- /.general-content__section -->
