.marketplace-features__wrapper {
  padding: rem(20) 0;
  margin: 0 rem(-10);
}

.marketplace-features__list {
  margin-bottom: 0;
}

.marketplace-feature__wrapper {
  padding: 0 rem(10);
}

.marketplace-feature__link {
  @include aspect-ratio(3, 1);
  display: block;
  border: 1px solid $color-grey-light;

  &:hover {
    border-color: $color-accent;
  }
}

.marketplace-feature  {
  font-size: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.marketplace-feature__logo,
.marketplace-feature__content {
  @include font-size;
  vertical-align: middle;
}

.marketplace-feature__logo {
  flex: 1;
  display: flex;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.marketplace-feature__content--wrapper {
  display: flex;
  flex: 2;
  position: relative;
  align-content: stretch;
  align-items: flex-end;

  .referral & {
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($color-black, 0.4);
      content: "";
      z-index: 0;
    }
  }
}

.marketplace-feature__content {
  position: relative;
  z-index: 1;
  padding: rem(10);
}

.marketplace-feature__label {
  @include font-size(12);
  text-transform: uppercase;
  color: $color-slate-dark;

  .referral & {
    color: $color-white;
  }
}



.marketplace-filters__wrapper {
  background: $color-grey-pale;
  padding: rem(20) 0;
  position: relative;

  &:before,
  &:after {
    background: $color-grey-pale;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: rem(9999);
  }

  &:before {
    left: rem(-9999);
  }

  &:after {
    right: rem(-9999);
  }
}

.marketplace-filters__list {
  @include list-zero;
  display: table;
  width: 100%;
}

.marketplace-filter__wrapper {
  display: table-cell;
}


.marketplace-listings__wrapper {
  padding: rem(20) 0;
}
