.profile__wrapper {
  margin-bottom: rem(40);

  .profile {
    display: flex;
  }
}

.profile__logo {
  flex: 2;
  padding-right: rem(40);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.profile__details {
  @include font-size(20);
  flex: 4;

  li {
    padding-left: rem(30);
    margin-bottom: rem(15);
    line-height: 1.1;
  }

  a {
    color: $color-primary-med;
  }
}

.profile__details--address {
  position: relative;
  font-weight: 600;
  color: $color-grey-med;

  &:before {
    @include font-size(24);
    position: absolute;
    left: 0;
    font-family: $font-icons;
    color: $color-primary-med;
    content: "\f041";
  }
}

.profile__sharing {
  flex: 1;
  text-align: right;
}

.social-sharing {
  @include list-zero;
  background: $color-grey-pale;
  padding: rem(20);
  display: inline-block;

  li {
    @include font-size;
    display: block;
    width: rem(40);
    height: rem(40);
    margin: 0 0 rem(10) 0;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .fa {
    @include font-size(20);
    padding: rem(5);
    display: block;
    width: rem(40);
    height: rem(40);
    line-height: 1.5;
    text-align: center;

    &.fa-facebook {
      color: $color-white;
      background: #3b5998;
    }
    &.fa-twitter {
      color: $color-white;
      background: #00aced;
    }
    &.fa-google-plus {
      color: $color-white;
      background: #dd4b39;
    }
  }
}

.profile__details--list {
  @include list-zero;

}

.profile-endorsements {
  li {
    display: inline-block;
    padding: rem(10);
  }
}

.profile-about__meters {
  @include list-zero;
  display: flex;
  flex-wrap: wrap;
  padding: rem(10) 0;
  margin-bottom: rem(-20);

  > li {
    width: 50%;
    padding-right: rem(40);
    margin-bottom: rem(20);
  }
}

.meter {
  position: relative;
  padding: rem(10) 0 rem(20);
}

.meter__inner {
  display: block;
  background: $color-success;
  height: rem(3);
  content: "";

  &:before {
    position: absolute;
    display: block;
    background: $color-grey-light;
    height: rem(3);
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.meter__marker {
  @include font-size(10);
  font-weight: 600;
  position: absolute;
  top: rem(6);
  z-index: -1;
  text-align: center;
  color: $color-grey-light;

  &:before {
    display: block;
    content: "";
    border: 1px solid $color-grey-light;
    background: $color-white;
    width: rem(11);
    height: rem(11);
    border-radius: 100%;
  }

  &:nth-of-type(1) {
    left: -5px;
  }
  &:nth-of-type(2) {
    left: calc(20% - 5px);
  }
  &:nth-of-type(3) {
    left: calc(40% - 5px);
  }
  &:nth-of-type(4) {
    left: calc(60% - 5px);
  }
  &:nth-of-type(5) {
    left: calc(80% - 5px);
  }
  &:nth-of-type(6) {
    left: calc(100% - 5px);
  }

  &.filled {
    &:before {
        background: $color-success;
    }
  }
}

.profile-endorsements {
  .endorsements {
    @include list-zero;
  }

  .endorsement {
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: rem(20);
    margin-top: rem(10);

    cite {
      font-style: normal;
      font-weight: 400;
      color: $color-slate-dark;
    }

    strong {
      text-transform: uppercase;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
