<div class="general-content__section financial-details" ng-show="!viewFinancial">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Request Access
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <p>Access to the financial details requires approval from the business. By clicking below you agree that we can tell the business to contact you and provide your name, email, city, province and investor status. You agree that the business can contact you to verify your information prior to allowing you access to their information.</p>

  <a href="#" ng-click="vm.requestDetails()" ng-disabled="requested" class="button">{{requested ? requested : 'Request Details'}}</a>
</div><!-- /.general-content__section -->

<div class="general-content__section financial-details" ng-show="viewFinancial">
  <ul class="financial-details__large">
    <li>
      {{vm.currentListing.admin.scores.rating}}
      <span>Credit Grade <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
    <li>
      {{vm.currentListing.admin.basics.benchmarkRate}}%
      <span>Benchmark Interest Rate <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
    <li>
      {{vm.currentListing.admin.bankStatements.cashFlow}}%
      <span>Free Cash Flow Ratio <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
  </ul><!-- /.financial-details__large -->
  <ul class="financial-details__large last">
    <li>
      {{vm.currentListing.admin.financials.debtRatio}}%
      <span>Debt to Income Ratio <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
    <li>
      {{vm.currentListing.admin.scores.cds}}%
      <span>Probability of Default <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
    <li>
      {{vm.currentListing.admin.scores.bfrs}}%
      <span>Probability of Business Failure <a href="#"><i class="fa fa-question-circle"></i></a></span>
    </li>
  </ul><!-- /.financial-details__large -->

  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Details
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <ul class="general-content__detail-wrapper">
    <li>
      <table class="table--basic general-content__table">
        <tbody>
          <tr>
            <th><strong>12 Month Revenue:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.revenue | currency}}</td>
          </tr>
          <tr>
            <th><strong>Projected Revenue:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.projection | currency}}</td>
          </tr>
          <tr>
            <th><strong>Expected Growth:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.expectedGrowth}}</td>
          </tr>
          <tr>
            <th><strong>Loan to New Revenue Ratio:</strong></th>
            <td>&nbsp;{{vm.currentListing.admin.financials.loanRatio}}%</td>
          </tr>
          <tr>
            <th><strong>Location Owned:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.commercialSpace}}</td>
          </tr>
          <tr>
            <th><strong>2 Year Tax Returns Provided:</strong></th>
            <td>&nbsp;{{vm.currentListing.admin.underwriting.taxReturns}}</td>
          </tr>
          <tr>
            <th><strong>Business banking information provided:</strong></th>
            <td>&nbsp;{{vm.currentListing.admin.underwriting.taxReturns}}</td>
          </tr>
          <tr>
            <th><strong>First lien position on the Note:</strong></th>
            <td>&nbsp;{{vm.currentListing.admin.underwriting.taxLiens}}</td>
          </tr>
          <tr>
            <th><strong>Personal Guarantee:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.commercialSpace}}</td>
          </tr>
          <tr>
            <th><strong>Financial Statements:</strong></th>
            <td>&nbsp;{{vm.currentListing.financial.financialStatements}}</td>
          </tr>
        </tbody>
      </table>
    </li>
    <li>
      <ul class="general-content__callout">
        <li>
          <strong>No Lawsuits</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Bad Actors</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Criminal Activity</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Bankruptcy</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Liens</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li>
          <strong>No Pending Litigation</strong>
          <i class="fa fa-check-circle"></i>
        </li>
        <li class="general-content__callout--cta">
          <a href="#" ng-click="" class="button small">Make an Offer</a>
        </li><!-- /.general-content__callout--cta -->
      </ul><!-- /.general-content__callout -->
    </li>
  </ul><!-- /.general-content__detail-wrapper -->
</div><!-- /.general-content__section -->

<div class="general-content__section financial-files" ng-show="vm.hasFiles && viewFinancial">
  <header class="general-content__section--header">
    <h3 class="general-content__section--title">
      Additional Files
    </h3><!-- /.general-content__section--title -->
  </header><!-- /.general-content__section--header -->

  <ul class="list--zero financial__files">
    <li ng-repeat="file in vm.currentListing.financial.additionalDocuments">
      <a href="{{file.link}}" target="_blank"><i class="fa fa-file-text-o"></i> {{file.name}}</a>
    </li>
  </ul><!-- /.list--zero -->
</div><!-- /.general-content__section -->
