<div class="marketplace-features__wrapper">
  <div class="marketplace-features">
    <slick class="marketplace-features__list" infinite="true" slides-to-show="4" slides-to-scroll="1">
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature listing">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Top Listing</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
                <span class="marketplace-feature--cta">Learn More</span>
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature referral">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper" style="background-image:url('http://thesn.ug/20vqpSQ');">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Referral</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature listing">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Top Listing</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
                <span class="marketplace-feature--cta">Learn More</span>
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature referral">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper" style="background-image:url('http://thesn.ug/20vqpSQ');">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Referral</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
    </slick><!-- /.marketplace-features__list -->
  </div><!-- /.marketplace-features -->
</div><!-- /.marketplace-features__wrapper -->

<div class="marketplace-filters__wrapper">
  <div class="marketplace-filters">
    <h4>Filter Results</h4>
    <ul class="marketplace-filters__list">
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Distance</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Interest Rate</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Minimum Amount</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Term</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Purpose</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen>
          <option value="">Time Remaining</option>
        </select>
      </li><!-- /.marketplace-filter__wrapper -->
    </ul><!-- /.marketplace-filters__list -->
  </div><!-- /.marketplace-filters -->
</div><!-- /.marketplace-filters__wrapper -->

<div class="marketplace-listings__wrapper">
  <div class="marketplace-listings">
    <table>
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Business
              <i ng-show="sortType != 'name'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'name' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'name' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
              City &amp; Province
              <i ng-show="sortType != 'location'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'location' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'location' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'industry'; sortReverse = !sortReverse">
              Industry
              <i ng-show="sortType != 'industry'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'industry' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'industry' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'rate'; sortReverse = !sortReverse">
              Rate
              <i ng-show="sortType != 'rate'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'rate' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'rate' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'term'; sortReverse = !sortReverse">
              Term
              <i ng-show="sortType != 'term'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'term' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'term' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
              Time
              <i ng-show="sortType != 'time'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'time' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'time' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'pod'; sortReverse = !sortReverse">
              POD
              <i ng-show="sortType != 'pod'" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'pod' && !sortReverse" class="fa fa-angle-down"></i>
              <i ng-show="sortType == 'pod' && sortReverse" class="fa fa-angle-up"></i>
            </a>
          </th>
          <th>
            <a href="#">
              View
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="listing in allListings | orderBy:sortType:sortReverse">
          <td>{{listing.general.businessName}}</td>
          <td>{{listing.general.address.city}} {{listing.general.address.province}}</td>
          <td>{{listing.general.industry}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="/marketplace/listing/{{listing._id}}" class="button small">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.marketplace-listings -->
</div><!-- /.marketplace-listings__wrapper -->
