<div class="marketplace-features__wrapper">
  <div class="marketplace-features">
    <slick class="marketplace-features__list" infinite="true" slides-to-show="4" slides-to-scroll="1">
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature listing">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Top Listing</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
                <span class="marketplace-feature--cta">Learn More</span>
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature referral">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper" style="background-image:url('http://thesn.ug/20vqpSQ');">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Referral</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature listing">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Top Listing</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
                <span class="marketplace-feature--cta">Learn More</span>
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
      <div class="marketplace-feature__wrapper">
        <a href="#" class="marketplace-feature__link">
          <div class="marketplace-feature referral">
            <div class="marketplace-feature__logo">
              <img src="http://thesn.ug/1SNFvnS" alt="">
            </div><!-- /.marketplace-feature__logo -->
            <div class="marketplace-feature__content--wrapper" style="background-image:url('http://thesn.ug/20vqpSQ');">
              <div class="marketplace-feature__content">
                <span class="marketplace-feature__label">Referral</span>
                <h3 class="marketplace-feature__title">
                  InvestNextDoor
                </h3><!-- /.marketplace-feature__title -->
              </div><!-- /.marketplace-feature__content -->
            </div><!-- /.marketplace-feature__content--wrapper -->
          </div><!-- /.marketplace-feature -->
        </a>
      </div><!-- /.marketplace-feature__wrapper -->
    </slick><!-- /.marketplace-features__list -->
  </div><!-- /.marketplace-features -->
</div><!-- /.marketplace-features__wrapper -->

<div class="marketplace-filters__wrapper">
  <div class="marketplace-filters">
    <h4>Filter Results</h4>
    <ul class="marketplace-filters__list">
      <li class="marketplace-filter__wrapper" ng-show="launch">
        <select chosen="vm.filters.distances" data-placeholder="Distance" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.distances" ng-model="defaultFilter.distance"></select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen="vm.filters.rates" data-placeholder="Interest Rate" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.rates" ng-model="defaultFilter.rate"></select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen="vm.filters.minimums" data-placeholder="Minimum" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.minimums" ng-model="defaultFilter.minimum"></select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen="vm.filters.terms" data-placeholder="Term" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.terms" ng-model="defaultFilter.term"></select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen="vm.filters.purposes" data-placeholder="Purpose" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.purposes" ng-model="filterPurpose.details.usage" ></select>
      </li><!-- /.marketplace-filter__wrapper -->
      <li class="marketplace-filter__wrapper">
        <select chosen="vm.filters.times" data-placeholder="Time Remaining" disable_search_threshold="15" ng-options="filter.value as filter.label for filter in vm.filters.times" ng-model="defaultFilter.time"></select>
      </li><!-- /.marketplace-filter__wrapper -->
    </ul><!-- /.marketplace-filters__list -->

    <ul class="marketplace-filters__actions">
      <li><a href="#" ng-click="vm.filterClear()">Clear Filters</a></li>
      <li><a href="#" ng-click="vm.filterSave(defaultFilter)">{{savedFilters ? 'Saved' : 'Save Filters'}}</a></li>
    </ul><!-- /.marketplace-filters__actions -->
  </div><!-- /.marketplace-filters -->
</div><!-- /.marketplace-filters__wrapper -->

<div class="marketplace-listings__wrapper">
  <div class="marketplace-listings">
    <ul class="general-content__table-keys" ng-show="launch">
      <li><i class="fa fa-bolt new"></i> Live Offers</li>
      <li><i class="fa fa-exclamation review"></i> Outbid Offers</li>
    </ul><!-- /.general-content__table-keys -->
    <table>
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'general.businessName'; sortReverse = !sortReverse">
              Business
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'general.address.city'; sortReverse = !sortReverse">
              City &amp; Province
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'general.industry'; sortReverse = !sortReverse">
              Industry
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'admin.basics.listedRate'; sortReverse = !sortReverse">
              Rate
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'details.term'; sortReverse = !sortReverse">
              Term
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'admin.basics.deadlineDays.value'; sortReverse = !sortReverse">
              Time
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'admin.scores.cds'; sortReverse = !sortReverse">
              POD
              <span class="sort-icon">
                <i class="fa fa-angle-down"></i>
                <i class="fa fa-angle-up"></i>
              </span>
            </a>
          </th>
          <th>
            <a href="#">
              View
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="listing in vm.allListings | orderBy:sortType:sortReverse | filter: filterRate(defaultFilter.rate) | filter: filterTerm(defaultFilter.term) | filter: filterMinimum(defaultFilter.minimum) | filter: filterPurpose | filter: filterTime(defaultFilter.time)">
          <td>{{listing.general.businessName}}</td>
          <td>{{listing.general.address.city}} {{listing.general.address.province}}</td>
          <td>{{listing.general.industry}}</td>
          <td>{{listing.admin.basics.listedRate}}%</td>
          <td>{{listing.details.term}} Mo</td>
          <td>{{listing.admin.basics.deadlineDays.value}} <span ng-show="listing.admin.basics.deadlineDays.type==='days'">Days</span></td>
          <td>{{listing.admin.scores.cds}}%</td>
          <td><a ui-sref="marketplace.listing.profile({id: listing._id})" class="button small">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.marketplace-listings -->
</div><!-- /.marketplace-listings__wrapper -->
