<div class="listing-hero__wrapper">
  <div class="listing-hero">
    <div class="listing-hero__logo">
      <img src="http://thesn.ug/1SNFvnS" alt="">
    </div><!-- /.listing-hero__logo -->
    <div class="listing-hero__content">
      <h2 class="listing-hero__title">{{vm.currentListing.general.businessName}}</h2>
      <h3 class="listing-hero__subtitle">{{vm.currentListing.details.title}}</h3>
      <p class="listing-hero__description">
        {{vm.currentListing.details.reason}}
      </p><!-- /.listing-hero__description -->
      <div class="listing-hero__actions">
        <a href="#" ng-click="vm.makeOffer()" class="button">Make an Offer</a>
        <ul class="listing-hero__actions--secondary">
          <li><a href="#" ng-click="vm.bookmark()" class="button">Bookmark</a></li>
          <li><a href="#" ng-click="vm.requestDetails()" class="button">Request Details</a></li>
        </ul><!-- /.listing-hero__actions--secondary -->
      </div><!-- /.listing-hero__actions -->
    </div><!-- /.listing-hero__content -->
    <div class="listing-hero__images">
      <slick autoplay=true autoplaySpeed="5000" infinite=true speed=750 slides-to-show=1 slides-to-scroll=1 class="listing-hero__images--slider">
        <div class="listing-hero__slide" ng-repeat="image in vm.currentListing.social.images">
          <img src="{{image.link}}" alt="{{image.name}}">
        </div><!-- /.listing-hero__slide -->
      </slick>
    </div><!-- /.listing-hero__images -->
  </div><!-- /.listing-hero -->
</div><!-- /.listing-hero__wrapper -->

<div class="listing-stats__wrapper">
  <div class="listing-stats">
    <table class="listing-stats__table">
      <tr class="listing-stat">
        <td>11%</td>
        <td>{{vm.currentListing.details.amount | currency:$:0}}</td>
        <td class="term">{{vm.currentListing.details.term}}</td>
        <td class="progress">
          <div class="progress-bar__wrapper">
            <div class="progress-bar" progress-bar="75"></div>
            <div class="progress-bar__status">
              Status: <strong>Open</strong>
            </div><!-- /.progress-bar__status -->
          </div><!-- /.progress-bar__wrapper -->
        </td>
        <td class="time-remaining"><span class="warning">4 Days, 23 Hours</span></td>
      </tr>
      <tr class="listing-stat__label">
        <td>Rate</td>
        <td>Target</td>
        <td>Term</td>
        <td>Funded</td>
        <td>Time Remaining</td>
      </tr>
    </table><!-- /.listing-stats__table -->
  </div><!-- /.listing-stats -->
</div><!-- /.listing-stats__wrapper -->

<div class="listing-main__wrapper">
  <div class="listing-main">
    <div class="general-content__wrapper">
      <div class="general-content">
        <ul class="dashboard__navigation--list">
          <li><a ui-sref-active="active" ui-sref="marketplace.listing.profile({id: vm.currentListing._id})">Profile</a></li>
          <li><a ui-sref-active="active" ui-sref="marketplace.listing.offer({id: vm.currentListing._id})">Offer</a></li>
          <li><a ui-sref-active="active" ui-sref="marketplace.listing.financial({id: vm.currentListing._id})">Financial Details</a></li>
          <li><a ui-sref-active="active" ui-sref="marketplace.listing.discussion({id: vm.currentListing._id})">Discussion</a></li>
        </ul><!-- /.dashboard__navigation--list -->
        <ui-view class="general-content__main"></ui-view>
      </div><!-- /.general-content -->
    </div><!-- /.general-content__wrapper -->
    <div class="general-sidebar__wrapper">
      <div class="general-sidebar">
        <widget-offer></widget-offer>
        <widget-current-offers></widget-current-offers>
        <widget-yelp></widget-yelp>
      </div><!-- /.general-sidebar -->
    </div><!-- /.general-sidebar__wrapper -->
  </div><!-- /.listing-main -->
</div><!-- /.listing-main__wrapper -->
