$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*==========  Includes  ==========*/
@import "../sass/_includes/functions";
@import "../sass/_includes/fonts";
@import "../sass/_includes/normalize";
@import "../sass/_includes/variables";
@import "../sass/_includes/mixins";

/*==========  Elements  ==========*/
@import "../sass/_elements/chosen";
@import "../sass/_elements/typography";
@import "../sass/_elements/forms";
@import "../sass/_elements/heroes";
@import "../sass/_elements/tables";
@import "../sass/_elements/widgets";

/*==========  Parts  ==========*/
@import "../sass/_parts/global";
@import "../sass/_parts/header";
@import "../sass/_parts/navigation";
@import "../sass/_parts/main";
@import "../sass/_parts/general-content";
@import "../sass/_parts/page";
@import "../sass/_parts/welcome";
@import "../sass/_parts/how-it-works";


// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/account.scss';
@import 'account/dashboard/dashboard.scss';
@import 'account/listing/listings.scss';
@import 'admin/admin.scss';
@import 'blog/blog.scss';
@import 'borrow/borrow.scss';
@import 'contact/contact.scss';
@import 'faq/faq.scss';
@import 'invest/invest.scss';
@import 'legal/legal.scss';
@import 'main/main.scss';
@import 'marketplace/marketplace.discussion.scss';
@import 'marketplace/marketplace.financial.scss';
@import 'marketplace/marketplace.offer.scss';
@import 'marketplace/marketplace.profile.scss';
@import 'marketplace/marketplace.scss';
@import '../components/breadcrumbs/breadcrumbs.scss';
@import '../components/chosen/chosen.scss';
@import '../components/footer/footer.scss';
@import '../components/listing/listingNavigation.scss';
@import '../components/listingPagination/listingPagination.scss';
@import '../components/listingStatus/listingStatus.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
@import '../components/progressBar/progressBar.scss';
@import '../components/widgetBenefits/widgetBenefits.scss';
@import '../components/widgetCalculator/widgetCalculator.scss';
@import '../components/widgetCurrentOffers/widgetCurrentOffers.scss';
@import '../components/widgetOffer/widgetOffer.scss';
@import '../components/widgetPress/widgetPress.scss';
@import '../components/widgetYelp/widgetYelp.scss';
// endinjector
