<div class="page-template-how-it-works has-featured-image">
  <div id="page" class="site">
    <navbar></navbar>

    <header class="entry-header with-image" style="background-image: url(assets/images/uploads/hero-invest.jpg);">
      <div class="entry-header__inner">
        <h1 class="entry-title">Invest</h1>
      </div><!-- end of .entry-header__inner -->
    </header>

    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

          <article id="post-260" class="post-260 page type-page status-publish has-post-thumbnail hentry">
            <div class="entry-content">
          	  <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <h2 class="font_2">Invest Locally. Profit More.</h2>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <h3>Investors need better returns and investments that create real cash flow. Enter InvestNextDoor. Our marketplace makes it easy to participate in the small business investment market. You’ll connect with solid, hardworking businesses owners and get access to the same returns as the banks and private equity firms.</h3>
                  <div class="wpb_text_column wpb_content_element "></div>
                </div>
              </div>
            </div><!-- .entry-content -->
          </article><!-- #post-## -->

          <div class="block--wrapper block__grey-block--wrapper title-bar">
            <div class="block block__grey-block">
              <div class="benefits">
                <h4>Benefits</h4>
              </div><!-- /.benefits -->
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

          <div class="block--wrapper">
            <div class="block">
              <div class="benefits__wrapper">
                <p>Our unique model equally supports both sides:</p>
                <ul class="benefits-list">
                  <li class="benefit__wrapper">
                    <span>If you like crowdfunding, you’ll love being a supporter who actually makes money.</span>
                  </li><!-- /.benefit__wrapper -->
                  <li class="benefit__wrapper">
                    <span>If you like crowdfunding, you’ll love being a supporter who actually makes money.</span>
                  </li><!-- /.benefit__wrapper -->
                  <li class="benefit__wrapper">
                    <span>If you’re a community supporter, you’ll be thrilled to find a way to do impact investing locally.</span>
                  </li><!-- /.benefit__wrapper -->
                  <li class="benefit__wrapper">
                    <span>If you’re a community supporter, you’ll be thrilled to find a way to do impact investing locally.</span>
                  </li><!-- /.benefit__wrapper -->
                  <li class="benefit__wrapper">
                    <span>If you’re a sophisticated investor, you’ll want regular cash-flow at market rates of return.</span>
                  </li><!-- /.benefit__wrapper -->
                  <li class="benefit__wrapper">
                    <span>If you’re a sophisticated investor, you’ll want regular cash-flow at market rates of return.</span>
                  </li><!-- /.benefit__wrapper -->
                </ul><!-- /.benefits-list -->
              </div><!-- /.benefits__wrapper -->
            </div><!-- end of .block -->
          </div><!-- end of .block--wrapper -->

          <div class="block--wrapper block__green-block--wrapper contained">
            <div class="block block__green-block">

              <div class="block--text welcome__green-block--text">
                <h3 class="block--title">Investors Control Their Investment.</h3>
                <p>As an investor, you control the rate you want to earn and the amount you’d like to invest. InvestNextDoor has revolutionized lending and borrowing using an open and fair online marketplace where everyone benefits. Businesses are qualified through a multi-stage process. By investing in a business within your community, you have the benefit of being able to establish a relationship with the business owner and seeing their progress first-hand.</p>
              </div><!-- end of .block__green-block--text -->

              <div class="welcome__green-block--calculator">
                <div class="calculator__wrapper">
                  <h3 class="calculator__title">Investment Calculator</h3>

                  <form class="calculator__form" ng-show="vm.calculate">
                    <ul class="form__rows">
                      <li class="form__row form__row--split">
                        <div class="form__split--half">
                          <label>Amount to Invest</label>
                          <input type="number" ng-model="vm.invest.amount" placeholder="min $500">
                        </div>
                        <div class="form__split--half">
                          <label>Investing Term</label>
                          <select chosen="terms" data-placeholder="Select" disable_search_threshold="15" ng-model="vm.invest.term" ng-options="term.value as term.label for term in terms"></select>
                        </div>
                      </li><!-- /.form__row form__row--split -->

                      <li class="form__row form__row--split">
                        <div class="form__split--half">
                          <label>Interest Rate</label>
                          <select chosen="rates" data-placeholder="Select" disable_search_threshold="15" ng-model="vm.invest.rate" ng-options="option.value as option.label for option in rates"></select>
                        </div>
                        <div class="form__split--half bottom">
                          <button ng-click="vm.calculateInvestment()">Submit</button>
                        </div>
                      </li><!-- /.form__row form__row--split -->
                    </ul><!-- /.form__rows -->
                  </form><!-- /.calculator__form -->

                  <div class="calculator__result" ng-show="!vm.calculate">
                    <div class="calculator__result--profit">
                      <h4>{{vm.investment.return | currency}}</h4>
                      <p>Estimated Profit</p>
                    </div><!-- /.calculator__result--profit -->
                    <div class="calculator__result--actions">
                      <a class="calculator__result--reset" ng-click="vm.resetInvestment()">Reset Calculator</a>
                      <button ui-sref="login">Get Started</button>
                    </div><!-- /.calculator__result--actions -->
                  </div>
                  <em>By signing up, you agree to the <a ui-sref="legal.privacypolicy">Privacy Policy</a> and the <a ui-sref="legal.termsofservice">Terms of Service</a></em>
                </div><!-- /.calculator__wrapper -->
              </div><!-- end of .block__green-block--calculator -->

            </div><!-- end of .block block__green-block -->
          </div>

          <div class="block--wrapper block__grey-block--wrapper">
            <div class="block block__grey-block">
              <div class="investor-features">
                <h2 class="block--title">Save money by setting your own terms and rates!</h2>
                <ul class="investor-features__list">
                  <li class="investor-feature__wrapper">
                    <div class="investor-feature">
                      <div class="investor-feature__image">
                        <img src="http://ind.staging.work/wp-content/uploads/2015/10/icon-ribbon-150x150.png" alt="">
                      </div><!-- /.investor-feature__image -->
                      <p class="small"></p>
                      <p>Qualified businesses list on our marketplace. Credit history, financials, probability of default and cash flow are used in the valuation process.</p>
                      <p></p>
                    </div><!-- /.investor-feature -->
                  </li><!-- /.investor-features__wrapper -->
                  <li class="investor-feature__wrapper">
                    <div class="investor-feature">
                      <div class="investor-feature__image">
                        <img src="http://ind.staging.work/wp-content/uploads/2016/01/percentage-150x150.png" alt="">
                      </div><!-- /.investor-feature__image -->
                      <p class="small"></p>
                      <p>We provide a benchmark interest rate, but you get to set the rate on your offer. Funds are held in a trust account.</p>
                      <p></p>
                    </div><!-- /.investor-feature -->
                  </li><!-- /.investor-features__wrapper -->
                  <li class="investor-feature__wrapper">
                    <div class="investor-feature">
                      <div class="investor-feature__image">
                        <img src="http://ind.staging.work/wp-content/uploads/2015/10/icon-community-150x150.png" alt="">
                      </div><!-- /.investor-feature__image -->
                      <p class="small"></p>
                      <p>Once the business reaches their funding level and your offer is accepted, your investment is made.</p>
                      <p></p>
                    </div><!-- /.investor-feature -->
                  </li><!-- /.investor-features__wrapper -->
                  <li class="investor-feature__wrapper">
                    <div class="investor-feature">
                      <div class="investor-feature__image">
                        <img src="http://ind.staging.work/wp-content/uploads/2016/01/cash-150x150.png" alt="">
                      </div><!-- /.investor-feature__image -->
                      <p class="small"></p>
                      <p>Automatic monthly repayments are made to your account and you are provided with updates.</p>
                      <p></p>
                    </div><!-- /.investor-feature -->
                  </li><!-- /.investor-features__wrapper -->
                </ul>
              </div><!-- /.investor-features -->
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

          <div class="block--wrapper">
            <div class="block block__cta-block">
              <h3 class="block--title">There are no purchase fees or fees required to join.</h3>
              <p>You are simply charged a 1% service fee on repayments, which is deducted as they are made. Your funds will be refunded in full if your offer is not accepted.</p>
              <a ui-sref="login" class="button">Get Started</a>
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

          <div class="block--wrapper">
            <div class="block block__experience-block">
              <h3 class="block--title">Experiences</h3>
              <ul class="experiences-list">
                <li class="experience__wrapper">
                  <figure>
                    <blockquote cite="">
                      <p>When your investors are members of your community they can do more than just lend you money – they become your best advocates and advertisers of your business. You will have a new group of loyal supporters who are as invested as you are in seeing your business be successful. It’s a part of the lending experience that you won’t find anywhere else.</p>
                    </blockquote>
                    <figcaption>
                      <cite>
                        <span class="author">Firstname Last</span>
                        <small>Investor, Ontario</small>
                      </cite>
                    </figcaption>
                  </figure>
                </li><!-- /.benefit__wrapper -->
              </ul><!-- /.experiences-list -->
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

          <div class="block--wrapper">
            <div class="block block__cta-block">
              <h3 class="block--title">Access to Small Business Investing</h3>
              <p>We offer a unique solution to investing surplus assets into your community—one that will support businesses while earning solid returns. We bring small businesses with borrowing needs directly to you in the InvestNextDoor marketplace.</p>
              <h4 class="block--subtitle">There is no obligation and no financial commitment. Sign up to browse the listings of businesses like yours, to see what we’re talking about. Get started today!</h4>
              <a ui-sref="login" class="button">Get Started</a>
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

        </main>
      </div><!-- /.content-area -->
    </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
