.widget__press {
  .logos__list {

  }

  .logo__wrapper {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 75%;
      height: auto;
      margin: 0 auto;
    }
  }
}
