<div class="widget__wrapper widget__press">
  <div class="widget">
    <header class="widget__header">
      <h3 class="widget__title">As Seen On</h3>
    </header><!-- /.widget__header -->

    <ul class="logos__list">
      <li class="logo__wrapper">
        <img src="assets/images/about/yahoo.png" alt="Yahoo">
      </li><!-- /.logo__wrapper -->
      <li class="logo__wrapper">
        <img src="assets/images/about/altfi.png" alt="AltFi">
      </li><!-- /.logo__wrapper -->
      <li class="logo__wrapper">
        <img src="assets/images/about/cnnmoney.png" alt="CNN Money">
      </li><!-- /.logo__wrapper -->
      <li class="logo__wrapper">
        <img src="assets/images/about/crowdfund.png" alt="Crowdfund Insider">
      </li><!-- /.logo__wrapper -->
    </ul><!-- /.logos__list -->
  </div><!-- /.widget -->
</div><!-- /.widget__wrapper -->
