<div class="listing-form__wrapper dashboard__form--wrapper">
  <h3 class="form-subtitle">Repayment Schedule</h3>
  <table class="table--dark">
    <thead>
      <tr>
        <th><a href="#">Date</a></th>
        <th><a href="#">Principal</a></th>
        <th><a href="#">Interest</a></th>
        <th><a href="#">Fees</a></th>
        <th><a href="#">Total</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in getNumber(currentListing.details.term) track by $index">
        <td>{{getDate($index) | date}}</td>
        <td>{{totals.principal | currency}}</td>
        <td>{{totals.interest | currency}}</td>
        <td>{{totals.fees | currency}}</td>
        <td>{{totals.total | currency}}</td>
      </tr>
    </tbody>
  </table>

  <hr class="form-break">
  <h3 class="form-subtitle">Signing</h3>
  <p>
    Funded: {{acceptedOffers | currency}}<br>
    Service Fees: -{{vm.serviceFees(acceptedOffers) | currency}}<br>
    Total to be transferred: {{vm.transferredAmount(acceptedOffers) | currency}}
  </p>

  <p>By signing below you agree that:</p>
  <ul>
    <li>You have had the opportunity to review the offers with your counsel, accounting or others as you feel necessary or appropriate.</li>
    <li>You authorize InvestNextDoor to withdraw re-payments automatically from the bank account provided according the schedule provided.</li>
    <li>You consent for on-going review of your bank accounts and credit reports to ensure covenants are met.</li>
    <li>All Representations and Warranties in agreement and information provided in the listing are still valid and accurate.</li>
  </ul>

  <div class="formly-field-group">
    <div class="display-flex not-form">
      <div class="offset-third">
        <label>Your Name</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
          <input type="text" ng-model="vm.signature" placeholder="First Last">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
    </div><!-- /.display-flex -->
  </div><!-- /.formly-field-group -->

  <div class="formly-submit">
    <ul class="listing-form__pagination">
      <li>&nbsp;</li>
      <li>
        <button class="listing-form__save" type="submit" name="update" ng-click="vm.completeLoan()">Complete</button>
      </li>
      <li>&nbsp;</li>
    </ul><!-- end of .listing-form__pagination -->
  </div><!-- /.formly-submit -->
</div>
