<div class="listing-form__wrapper dashboard__form--wrapper">
  <h3 class="form-subtitle">Your Bank Account</h3>
  <div class="formly-field-group">
    <div class="display-flex not-form">
      <div class="flex-1">
        <label>Institution Number</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
          <input type="text" ng-model="vm.account.institution_number" placeholder="3 Digit Number">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Branch Number</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
          <input type="number" ng-model="vm.account.branch_number" placeholder="4-5 Digit Number">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="flex-1">
        <label>Account Number</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
          <input type="number" ng-model="vm.account.account_number" placeholder="1-12 Digit Number">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
    </div><!-- /.display-flex -->
  </div><!-- /.formly-field-group -->

  <p ng-show="vm.errors.addAccount">{{vm.errors.addAccount}}</p>

  <div class="formly-submit">
    <ul class="listing-form__pagination">
      <li>&nbsp;</li>
      <li>
        <button class="listing-form__save" type="submit" name="update" ng-click="vm.addBankAccount()">Add</button>
      </li>
      <li>&nbsp;</li>
    </ul><!-- end of .listing-form__pagination -->
  </div><!-- /.formly-submit -->
</div>
