<div class="listing-form__wrapper dashboard__form--wrapper">
  <h3 class="form-subtitle">Confirm Your Bank Account</h3>
  <div class="formly-field-group">
    <div class="display-flex not-form">
      <div class="offset-third">
        <label>Deposit Amount 1</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-usd"></i></div>
          <input type="number" ng-model="vm.bankAmountA" placeholder="{{currentUser.bankAccount.verification[0] / 100}}">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
      <div class="offset-third">
        <label>Deposit Amount 2</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-usd"></i></div>
          <input type="number" ng-model="vm.bankAmountB" placeholder="{{currentUser.bankAccount.verification[1] / 100}}">
        </div><!-- /.input-group -->
      </div><!-- /.flex-1 -->
    </div><!-- /.display-flex -->
  </div><!-- /.formly-field-group -->

  <div class="form-message"  ng-show="vm.errors.verifyAccount">
    <p>{{vm.errors.verifyAccount}}</p>
  </div><!-- /.form-message -->

  <div class="formly-submit">
    <ul class="listing-form__pagination">
      <li>&nbsp;</li>
      <li>
        <button class="listing-form__save" type="submit" name="update" ng-click="vm.confirmBankAccount()">Confirm <i ng-show="loading" class="fa fa-spinner fa-spin"></i></button>
      </li>
      <li>&nbsp;</li>
    </ul><!-- end of .listing-form__pagination -->
  </div><!-- /.formly-submit -->
</div>
