<ul class="listing-form__navigation">
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="listing.general">General Info</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="listing.details">Listing Details</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="listing.financial">Financial</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="listing.social">Social &amp; Media</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="listing.terms">Terms</a></li>
</ul>
