<ul class="listing-form__navigation">
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.general({id: tabs.currentID})">General Info</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.details({id: tabs.currentID})">Listing Details</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.financial({id: tabs.currentID})">Financial</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.social({id: tabs.currentID})">Social &amp; Media</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.terms({id: tabs.currentID})">Terms</a></li>
  <li><a ui-sref-active="active" ng-click="tabs.saveForm()" ui-sref="admin.editlisting.admin({id: tabs.currentID})">Admin</a></li>
</ul>
