<div class="application-form__wrapper application-form__investor">
  <formly-form model="profile.user" fields="profile.investorProfile" form="investor">
    <div class="formly-submit">
      <ul class="application-form__pagination">
        <li>&nbsp;</li>
        <li><button type="submit" name="update" ng-click="profile.updateInvestor(investor)">Save</button></li>
        <li>&nbsp;</li>
      </ul><!-- end of .application-form__pagination -->
    </div><!-- /.formly-submit -->
  </formly-form>
</div>

<div class="application-form__footer">
  <p>While InvestNextDoor wants to support as many businesses as possible we hold the right to reject listings at our discretion.</p>
</div><!-- /.application-form__footer -->
