<ul class="listing-form__status listing-form__status--borrower">
  <li ui-sref="listing.general" ui-sref-active="active" class={{status.general}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="listing.details" ui-sref-active="active" class={{status.details}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="listing.financial" ui-sref-active="active" class={{status.financial}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="listing.social" ui-sref-active="active" class={{status.social}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="listing.terms" ui-sref-active="active" class={{status.terms}}>
    <i class="fa fa-check"></i>
  </li>
</ul>
