<div class="page-template-home">
  <div id="page" class="site">
    <navbar></navbar>

    <div id="content" class="site-content">

      <div class="large-hero__wrapper" style="background-image:url(assets/images/uploads/hero.jpg);">
        <div class="large-hero">
          <div class="large-hero__content">

            <h2 class="large-hero__title" ng-attr-contenteditable="{{ editMode }}" ng-model="hero.title">It’s borrowing reinvented. It’s investing on your terms.</h2>

            <h3 class="large-hero__subtitle">Canadian businesses and investors working together.<br>Everybody wins.</h3>

            <a ui-sref="borrow" class="large-hero__button button large">How it Works</a>

          </div><!-- end of .large-hero__content -->
        </div><!-- end of .large-hero -->
      </div>

      <a ng-click="toggleEditMode()" class="button">{{editMode ? 'Disable Editing' : 'Enable Editing'}}</a>

      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

          <div class="block--wrapper block__image-block--wrapper">
            <div class="block block__image-block">
              <div class="block--image block__image-block--image">
                <img src="assets/images/uploads/image-text.jpg" alt="Lending to small business just makes sense.">
              </div><!-- end of .block__image-block--image -->
              <div class="block--text block__image-block--text">
                <h3 class="block--title">Lending to small business just makes sense.</h3>
                <p>Each of us knows someone who owns a business. Our dry-cleaner, our accountant, even the franchisee of that sub shop we love. We already support them when we shop locally. Investing in them directly creates more jobs, stronger local economies, and makes you a great return.</p>
                <p><strong>We make it easy for you to create a professional investment directly in small businesses you’re comfortable with.</strong></p>
                <a ui-sref="invest" class="button">Get Started</a>
              </div><!-- end of .block__image-block--text -->
            </div><!-- end of .block block__image-block -->
          </div><!-- end of .block--wrapper block__image-block--wrapper -->

          <div class="block--wrapper block__green-block--wrapper">
            <div class="block block__green-block">
              <h3 class="block--title">Investors take note: fixed income just got exciting.</h3>

              <div class="block--image block__green-block--image">
                <img ng-show="main.image == 0" src="assets/images/uploads/icon-1-190x190.png" alt="Double-Digit">
                <img ng-show="main.image == 1" src="assets/images/uploads/icon-2-190x190.png" alt="Direct investing">
                <img ng-show="main.image == 2" src="assets/images/uploads/icon-3-190x190.png" alt="Invest in your neighbourhood">
                <img ng-show="main.image == 3" src="assets/images/uploads/icon-4-190x190.png" alt="Technology makes it simple">
                    </div><!-- end of .block__green-block--image -->
              <div class="block--text block__green-block--text">

                <ul class="block__green-block--list">
                  <li ng-mouseover="main.image = 0" >Double-Digit <em>6-21%</em></li>
                  <li ng-mouseover="main.image = 1">Direct investing <em>Minimum $500 investment</em></li>
                  <li ng-mouseover="main.image = 2">Invest in your neighbourhood <em>1-5 year terms</em></li>
                  <li ng-mouseover="main.image = 3">Technology makes it simple <em>Automated monthly repayment</em></li>
                </ul><!-- end of .block__green-block--list -->

              </div><!-- end of .block__green-block--text -->
              <a ui-sref="invest" class="button ghost">Try It!</a>
            </div><!-- end of .block block__green-block -->
          </div><!-- end of .block--wrapper block__green-block--wrapper -->

          <div class="block--wrapper block__blue-block--wrapper">
            <div class="block block__blue-block">
              <h3 class="block--title">What do we look for in a borrower?</h3>
              <p>We've taken a page from the banks, and then made it better.</p>
            </div><!-- end of .block block__blue-block -->
          </div><!-- end of .block--wrapper block__blue-block--wrapper -->
          <div class="block--wrapper block__grey-block--wrapper">
            <div class="block block__grey-block">
              <ul class="block__grey-block--list">
                <li>
                  <div class="block__grey-block--icon">
                    <img src="assets/images/uploads/icon-business.png" alt="Business">
                  </div><!-- end of .block__grey-block--icon -->
                  <h2 class="block__grey-block--title">Business</h2>
                  <p>Age, industry and size don’t matter. How much they can afford to pay back, does.</p>
                </li>
                <li>
                  <div class="block__grey-block--icon">
                    <img src="assets/images/uploads/icon-ribbon.png" alt="Owner">
                  </div><!-- end of .block__grey-block--icon -->
                  <h2 class="block__grey-block--title">Owner</h2>
                  <p>It’s more than checking out financial statements, we’re looking at character too.</p>
                </li>
                <li>
                  <div class="block__grey-block--icon">
                    <img src="assets/images/uploads/icon-community.png" alt="Community">
                  </div><!-- end of .block__grey-block--icon -->
                  <h2 class="block__grey-block--title">Community</h2>
                  <p>Community matters for small business success. We want to know each business will have that support.</p>
                </li>
              </ul><!-- end of .block__grey-block--list -->
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

          <div class="block--wrapper block__blog-posts--wrapper">
            <div class="block block__blog-posts">
              <div class="block__blog-posts--cta">
                <p>Find out more about our qualification criteria for borrowers <a ui-sref="borrow" class="button ghost">Learn More</a></p>
              </div><!-- end of .block__blog-posts--cta -->
              <h3 class="block--title">Canada runs on small business.</h3>
              <p>Business growth equals community strength. We’re committed to both.</p>

              <ul class="block__blog-posts--list">
                <li class="block__blog-post--wrapper">
                  <div class="block__blog-post">
                    <div class="block__blog-post--category">
                      <a>Uncategorized</a>
                    </div><!-- end of .block__blog-post--category -->
                    <div class="block__blog-post--image">
                      <img src="assets/images/uploads/page-image.jpg" alt="Sample Blog Post">
                      <h2 class="block__blog-post--title">Sample Blog Post</h2>
                    </div><!-- end of .block__blog-post--image -->
                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius…</p>
                    <a ui-sref="borrow">Read More</a>
                  </div><!-- end of .block__blog-post -->
                </li><!-- end of .block__blog-post -->
              </ul><!-- end of .block__blog-posts--list -->
            </div><!-- end of .block block__blog-posts -->
          </div><!-- end of .block--wrapper block__blog-posts--wrapper -->

          <div class="block--wrapper block__grey-block--wrapper">
            <div class="block block__grey-block">
              <h3 class="block--title">Call to Action</h3>
              <a ui-sref="borrow" class="button">Button</a>
            </div><!-- end of .block block__grey-block -->
          </div><!-- end of .block--wrapper block__grey-block--wrapper -->

        </main><!-- #main -->
      </div>

    </div><!-- /#content.site-content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
