<div class="widget__wrapper widget__make-an-offer">
  <div class="widget">
    <header class="widget__header">
      <h3 class="widget__title">Make an Offer</h3>
    </header><!-- /.widget__header -->

    <div class="widget__subtitle">
      <h4>$73,845.75</h4>
      <span>Available Balance</span>
    </div><!-- /.widget__subtitle -->

    <form class="widget__form">
      <ul class="form__rows">
        <li class="form__row">
          <select chosen="" data-placeholder="Rate *"></select>
        </li><!-- /.form__row -->
        <li class="form__row">
          <select chosen="" data-placeholder="Amount *"></select>
        </li><!-- /.form__row -->
        <li class="form__row form__row--submit ">
          <button>Submit</button>
        </li><!-- /.form__row -->
      </ul><!-- /.form__rows -->
    </form><!-- /.widget__form -->
  </div><!-- /.widget -->
</div><!-- /.widget__wrapper -->
