.widget__make-an-offer {

}

.widget__make-an-offer--balance {
  margin-bottom: rem(20);

  h4 {
    @include font-size(48);
    color: $color-success;
    border-bottom: 1px solid $color-grey-light;
    padding-bottom: rem(5);
    margin-bottom: rem(5);
  }

  span {
    text-transform: uppercase;
    font-weight: 400;
  }
}

.widget__make-an-offer--form {
  .form__row--submit {
    text-align: center;
  }  
}
