.widget__make-an-offer {
  .widget__error {
    text-align: center;
    font-weight: 400;
    color: $color-warning;
    margin-top: rem(20);

    p {
      @include font-size;
      color: $color-warning;
      font-style: normal;
    }
  }
}
