<div class="formly-submit">
  <ul class="listing-form__pagination">
    <li>
      <a class="listing-form__pagination--back" ng-show="page.pages[page.current].prev" ng-click="page.goBack()"><i class="fa fa-angle-left"></i> Back</a>
    </li>
    <li>
      <button class="listing-form__save" type="submit" name="update" ng-click="vm.saveListing(listing)">Save Progress</button>
      <button class="listing-form__save" type="submit" name="update" ng-click="vm.submitListing(listing)" ng-show="vm.status=='in-progress'">Submit for Review</button>
    </li>
    <li>
      <a class="listing-form__pagination--next" ng-show="page.pages[page.current].next" ng-click="page.goForward()">Next <i class="fa fa-angle-right"></i></a>
    </li>
  </ul><!-- end of .listing-form__pagination -->
</div><!-- /.formly-submit -->
