<div class="page-template-default">
  <div id="page" class="site">
    <navbar></navbar>

      <div id="content" class="site-content">
        <header class="entry-header">
          <h1 class="entry-title">FAQ</h1>
        </header>

        <div id="primary" class="content-area with-sidebar">
          <div breadcrumbs class="breadcrumbs__wrapper"></div>

          <main id="main" class="site-main" role="main">

            <div class="general-content__section">
              <header class="general-content__section--header">
                <h3 class="general-content__section--title">
                  Quick Search
                </h3><!-- /.general-content__section--title -->
              </header><!-- /.general-content__section--header -->

              <div class="discussion-search">
                <form class="discussion-search__form">
                  <label for="">Search Topic or Keyword</label>
                  <div class="discussion-search__form--fields">
                    <input class="discussion-search__form--search" type="text" ng-model="searchTerm">
                    <button class="discussion-search__form--submit">Search</button>
                  </div><!-- /.discussion-search__form--fields -->
                </form><!-- /.discussion-search__form -->
              </div><!-- /.discussion-search -->

              <ul class="dashboard__navigation--list">
                <li><a ng-click="searchTerm='General'">General</a></li>
                <li><a ng-click="searchTerm='Business'">Business</a></li>
                <li><a ng-click="searchTerm='Investor'">Investor</a></li>
              </ul><!-- /.dashboard__navigation--list -->

              <ul class="faq__list">
                <li class="faq__wrapper" ng-repeat="faq in faqs.allFaqs | orderBy: 'category' | filter: searchTerm">
                  <a href="#" tooltip="{{faq.info}}">{{faq.name}}</a>
                  <h4 class="faq__question"><a href="#" ng-click="hideAnswer = !hideAnswer" ng-class="{active: hideAnswer}">{{faq.question}}</a></h4>
                  <div class="faq__answer" ng-bind-html="faq.answer" ng-show="hideAnswer"></div>
                  <div ng-show="faqs.isAdmin()">
                    <button type="button" class="button" ng-click="faqs.deleteFaq(faq)">Delete</button>
                  </div>
                </li><!-- /.faq__wrapper -->
              </ul>

              <div class="faq__form--wrapper" ng-show="faqs.isAdmin()">
                <form class="faq__form">
                  <h4>Add a New FAQ</h4>
                  <ul class="form__rows">
                    <li class="form__row form__row--full">
                      <input type="text" placeholder="Question" ng-model="faqs.newFaq.question">
                    </li><!-- /.form__row form__row--full -->
                    <li class="form__row form__row--full">
                      <select chosen="faqs.categories" data-placeholder="Category" disable_search_threshold="15" ng-model="faqs.newFaq.category" ng-options="category.label for category in faqs.categories"></select>
                    </li><!-- /.form__row form__row--full -->
                    <li class="form__row form__row--full">
                      <text-angular ng-model="faqs.newFaq.answer"></text-angular>
                    </li><!-- /.form__row form__row--full -->
                    <li class="form__row form__row--full form__row--submit">
                      <button type="submit" class="button" ng-click="faqs.addFaq()">Add</button>
                    </li><!-- /.form__row form__row--full form__row--submit -->
                  </ul><!-- /.form__rows -->
                </form><!-- /.faq__form -->
              </div><!-- /.faq__form--wrapper -->
            </div><!-- /.general-content__section -->

          </main>
        </div><!-- /.content-area -->

        <div id="secondary" class="widget-area">
          <widget-press></widget-press>
          <widget-calculator></widget-calculator>
          <widget-benefits></widget-benefits>
        </div><!-- /#secondary.widget-area -->
      </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
