<div class="page-template-default">
  <div id="page" class="site">
    <navbar></navbar>

      <div id="content" class="site-content">
        <header class="entry-header">
          <h1 class="entry-title">FAQ</h1>
        </header>

        <breadcrumbs></breadcrumbs>

        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="block--wrapper welcome__header-block--wrapper">
              <div class="block welcome__header-block">
                <h3 class="block--title">Frequently Asked Questions</h3>
              </div><!-- end of .block block__header-block -->

              <ul class="faq__list">
                <li class="faq__wrapper" ng-repeat="faq in faqs.allFaqs">
                  <a href="#" tooltip="{{faq.info}}">{{faq.name}}</a>
                  <h4 class="faq__question">{{faq.question}}</h4>
                  <div class="faq__answer" ng-bind-html="faq.answer"></div>
                  <div ng-show="faqs.isAdmin()">
                    <button type="button" class="button" ng-click="faqs.deleteFaq(faq)">Delete</button>
                  </div>
                </li><!-- /.faq__wrapper -->
              </ul>

              <div class="faq__form--wrapper" ng-show="faqs.isAdmin()">
                <form class="faq__form">
                  <h4>Add a New FAQ</h4>
                  <ul class="form__rows">
                    <li class="form__row form__row--full">
                      <input type="text" placeholder="Question" ng-model="faqs.newFaq.question">
                    </li><!-- /.form__row form__row--full -->
                    <li class="form__row form__row--full">
                      <text-angular ng-model="faqs.newFaq.answer"></text-angular>
                    </li><!-- /.form__row form__row--full -->
                    <li class="form__row form__row--full form__row--submit">
                      <button type="submit" class="button" ng-click="faqs.addFaq()">Add</button>
                    </li><!-- /.form__row form__row--full form__row--submit -->
                  </ul><!-- /.form__rows -->
                </form><!-- /.faq__form -->
              </div><!-- /.faq__form--wrapper -->
            </div><!-- end of .block--wrapper block__header-block--wrapper -->

            <div class="block--wrapper welcome__green-block--wrapper">
              <div class="block welcome__green-block">

                <div class="block--text welcome__green-block--text">
                  <h3 class="block--title">Join Us</h3>
                  <p>We strive to make a difference by connecting the businesses that drive local economies with the investors that can take those businesses to the next level. Crowdlending is just the beginning of a groundbreaking journey. Our team of top financial
                    professionals is constantly designing new channels within the financial landscape.&nbsp; Together we’ll work with you to create financial and social impact in your community.</p>
                  <a ui-sref="login" class="button ghost">Sign up to get started today!</a>
                </div><!-- end of .block__green-block--text -->

                <div class="block--video welcome__green-block--video">
                  <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oN2dt_nHIto?rel=0" frameborder="0" allowfullscreen=""></iframe>
                  </div><!-- end of .video-wrapper -->
                </div><!-- end of .block__green-block--video -->

              </div><!-- end of .block block__green-block -->
            </div><!-- end of .block--wrapper block__green-block--wrapper -->

          </main>
        </div><!-- /.content-area -->
      </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
