.faq__list {
  @include list-zero;
  margin-bottom: rem(60);
}

.faq__wrapper {
  margin-bottom: rem(20);

  .button {
    @include font-size(14);
  }

  p {
    @include font-size;
    color: $color-grey-med;
    font-weight: 400;
    padding-left: rem(20);
  }
}

.faq__form--wrapper {
  background: $color-grey-pale;
  padding: rem(20);
  border-radius: $border-radius;
  margin-bottom: rem(40);
  margin-top: rem(20);
}
