/*===================================
=            Listing            =
===================================*/

.listing-form__wrapper {
  padding: rem(40) rem(40) 0 rem(40);
  border-radius: $border-radius;
  background: $color-grey-pale;
  margin-bottom: rem(40);
  position: relative;

  @include breakpoint(mobile) {
    padding: rem(20) rem(10);
  }

  .acf-form-submit {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: rem(15);
    text-align: center;

    input[type="submit"] {
      @include font-primary(700);
      @include font-size(20);
      background: $color-primary;
      padding: rem(10) rem(20);
    }
  }
}

.listing-form__message {
  @include font-size;
  @include font-primary(600);
  background: $color-white;
  border: 2px solid $color-slate-dark;
  border-radius: $border-radius;
  padding: rem(20);
  display: none;
  margin-bottom: rem(30);
  text-align: center;

  p {
    margin: 0;
  }

  &.warning {
    border-color: $color-warning;
    p {
      color: $color-warning;
    }
  }

  &.success {
    border-color: $color-success;
    p {
      color: $color-success;
    }
  }
}

.listing-form__pages {
  @include list-zero;
}

.listing-form__submit {
  text-align: center;
  margin-bottom: rem(30);

  a {
    text-transform: uppercase;
    margin-bottom: rem(30);
  }

  p {
    font-style: italic;
    color: $color-grey-med;
  }
}

.listing-form__footer {
  text-align: center;
  margin-bottom: rem(40);

  p {
    color: $color-grey-med;
    font-style: italic;
  }
}

.financial-details__large {
  @include list-zero;
  display: flex;

  li {
    @include font-size(70);
    font-weight: 700;
    flex: 1;
    line-height: 1;
    border: 5px solid $color-white;
    padding: rem(20);
    background: $color-grey-pale;

    span {
      @include font-size(14);
      text-transform: uppercase;
      display: block;
      margin-top: rem(5);
    }
  }

  &.last {
    margin-bottom: rem(40);
  }
}

/*=====  End of Listing  ======*/
