<ul class="application-form__status application-form__status--borrower">
  <li ui-sref="application.general" ui-sref-active="active" class={{status.general}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="application.details" ui-sref-active="active" class={{status.details}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="application.financial" ui-sref-active="active" class={{status.financial}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="application.social" ui-sref-active="active" class={{status.social}}>
    <i class="fa fa-check"></i>
  </li>
  <li ui-sref="application.terms" ui-sref-active="active" class={{status.terms}}>
    <i class="fa fa-check"></i>
  </li>
</ul>
