<div class="page-template-default">
  <div id="page" class="site">
    <navbar></navbar>

      <div id="content" class="site-content">
        <header class="entry-header">
          <h1 class="entry-title">Profile</h1>
        </header>

        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <div class="content-wrapper">

              <div class="admin-profile" ng-show="profile.isAdmin()">
                <div class="listing-form__wrapper listing-form__investor">
                  <p>{{profile.user.role}}</p>
                </div>
              </div><!-- /.investor-profile -->

              <div class="borrower-profile" ng-show="profile.isBorrower()">
                <div class="listing-form__wrapper listing-form__borrower">
                  <formly-form model="profile.user" fields="profile.borrowerProfile" form="borrower">
                    <div class="formly-submit">
                      <ul class="listing-form__pagination">
                        <li>&nbsp;</li>
                        <li><button type="submit" name="update" ng-click="profile.updateBorrower(borrower)">Save</button></li>
                        <li>&nbsp;</li>
                      </ul><!-- end of .listing-form__pagination -->
                    </div><!-- /.formly-submit -->
                  </formly-form>
                </div>

                <div class="listing-form__footer">
                  <p>While InvestNextDoor wants to support as many businesses as possible we hold the right to reject listings at our discretion.</p>
                </div><!-- /.listing-form__footer -->
              </div><!-- /.borrower-profile -->

              <div class="investor-profile" ng-show="profile.isInvestor()">
                <div class="listing-form__wrapper listing-form__investor">
                  <formly-form model="profile.user" fields="profile.investorProfile" form="investor">
                    <div class="formly-submit">
                      <ul class="listing-form__pagination">
                        <li>&nbsp;</li>
                        <li><button type="submit" name="update" ng-click="profile.updateInvestor(investor)">Save</button></li>
                        <li>&nbsp;</li>
                      </ul><!-- end of .listing-form__pagination -->
                    </div><!-- /.formly-submit -->
                  </formly-form>
                </div>

                <div class="listing-form__footer">
                  <p>While InvestNextDoor wants to support as many businesses as possible we hold the right to reject listings at our discretion.</p>
                </div><!-- /.listing-form__footer -->
              </div><!-- /.investor-profile -->

            </div><!-- /.content-wrapper -->
          </main><!-- /.site-main -->
        </div><!-- /.content-area -->
      </div><!-- #content -->

    <footer></footer>
  </div><!-- /#page.site -->
</div>
