<p ng-hide="vm.hasBookmarks" class="dashboard__main--intro">You are not watching any listings.</p>

<table ng-show="vm.hasBookmarks">
  <thead>
    <tr>
      <th><a href="#">Date</a></th>
      <th><a href="#">Listing</a></th>
      <th><a href="#">Actions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bookmark in watchlist">
      <td>{{bookmark.date | date}}</td>
      <td><strong>{{bookmark.listing.general.doingBusinessName}}:</strong> {{bookmark.listing.details.title}}</td>
      <td>
        <a ui-sref="marketplace.listing({id:bookmark.listing._id})" class="button small"><i class="fa fa-eye"></i></a>
        <a href="#" ng-click="vm.removeBookmark(bookmark.listing)" class="button small warning"><i class="fa fa-times"></i></a>
      </td>
    </tr>
  </tbody>
</table>
