<div class="widget__wrapper widget__finder">
  <div class="widget">
    <header class="widget__header">
      <h3 class="widget__title">Investment Finder</h3>
    </header><!-- /.widget__header -->

    <form class="widget__form">
      <ul class="form__rows">
        <li class="form__row">
          <select chosen="" data-placeholder="How much to invest?"></select>
        </li><!-- /.form__row -->
        <li class="form__row">
          <select chosen="" data-placeholder="Desired Annual Return"></select>
        </li><!-- /.form__row -->
        <li class="form__row">
          <select chosen="" data-placeholder="Type of business?"></select>
        </li><!-- /.form__row -->
        <li class="form__row form__row--submit ">
          <button ng-click="widget.open()">Search</button>
        </li><!-- /.form__row -->
      </ul><!-- /.form__rows -->
    </form><!-- /.widget__form -->
  </div><!-- /.widget -->
</div><!-- /.widget__wrapper -->
