<div class="widget__wrapper widget__make-an-offer">
  <div class="widget">
    <header class="widget__header">
      <h3 class="widget__title">Current Offers</h3>
    </header><!-- /.widget__header -->

    <div class="widget__subtitle">
      <h4>X%</h4>
      <span>Average Rate</span>
    </div><!-- /.widget__subtitle -->

    <form class="widget__form">
      <ul class="form__rows">
        <li class="form__row">
          <p>Outbit current investors!</p>
        </li><!-- /.form__row -->
        <li class="form__row form__row--submit ">
          <button>Outbid</button>
        </li><!-- /.form__row -->
      </ul><!-- /.form__rows -->
    </form><!-- /.widget__form -->
  </div><!-- /.widget -->
</div><!-- /.widget__wrapper -->
