<div class="widget__wrapper widget__make-an-offer">
  <div class="widget">
    <header class="widget__header">
      <h3 class="widget__title">Current Offers</h3>
    </header><!-- /.widget__header -->

    <div class="widget__subtitle">
      <h4>{{vm.averageRate ? vm.averageRate : 'No Offers'}}<span ng-show="vm.averageRate">%</span></h4>
      <span>Average Rate</span>
    </div><!-- /.widget__subtitle -->

    <form class="widget__form" ng-show="makeOutbid && showCurrentOffersWidget">
      <ul class="form__rows">
        <li class="form__row">
          <select chosen="rates" data-placeholder="Rate*" ng-model="outbidRate" ng-options="rate.value as rate.label for rate in rates"></select>
        </li><!-- /.form__row -->
        <li class="form__row">
          <select chosen="amounts" data-placeholder="Amount*" ng-model="offerWidget.newOffer.amount" ng-options="amount.value as amount.label for amount in amounts"></select>
        </li><!-- /.form__row -->
        <li class="form__row form__row--submit ">
          <button ng-click="offerWidget.makeOffer()">{{offered ? 'Offered' : 'Submit'}}</button>
        </li><!-- /.form__row -->
      </ul><!-- /.form__rows -->
    </form><!-- /.widget__form -->

    <form class="widget__form" ng-hide="makeOutbid || !showCurrentOffersWidget">
      <ul class="form__rows">
        <li class="form__row">
          <p>Outbit current investors!</p>
        </li><!-- /.form__row -->
        <li class="form__row form__row--submit ">
          <button ng-click="currentOffersWidget.outbid()">Outbid</button>
        </li><!-- /.form__row -->
      </ul><!-- /.form__rows -->
    </form><!-- /.widget__form -->
  </div><!-- /.widget -->
</div><!-- /.widget__wrapper -->
