<div class="application-form__wrapper application-form__borrower">
  <form name="borrower" ng-submit="profile.updateBorrower(borrower)">
    <ul class="form__rows">

      <li class="form__row form__row--split">
        <div class="form__split--third">
          <label for="username">Username*</label>
          <input name="username" type="text" id="username" placeholder="Username" ng-model="profile.user.username" required autofocus>
        </div><!-- /.form__split--third -->
        <div class="form__split--third">
          <label for="first-name">First Name*</label>
          <input name="first-name" type="text" id="first-name" placeholder="First" ng-model="profile.user.name.first" required>
        </div><!-- /.form__split--third -->
        <div class="form__split--third">
          <label for="last-name">Last Name*</label>
          <input name="last-name" type="text" id="last-name" placeholder="Last" ng-model="profile.user.name.last" required>
        </div><!-- /.form__split--third -->
      </li><!-- /.form__row -->

      <li class="form__row form__row--split">
        <div class="form__split--third">
          <label for="email">Email*</label>
          <input name="email" type="text" id="email" placeholder="Email" ng-model="profile.user.email" required>
        </div><!-- /.form__split--third -->
        <div class="form__split--third">
          &nbsp;
        </div><!-- /.form__split--third -->
        <div class="form__split--third">
          &nbsp;
        </div><!-- /.form__split--third -->
      </li><!-- /.form__row -->

      <li class="form__row form__row--full form__submit">
        <ul class="application-form__pagination">
          <li>&nbsp;</li>
          <li><button type="submit" name="update" id="update">Update</button></li>
          <li>&nbsp;</li>
        </ul><!-- end of .application-form__pagination -->
      </li><!-- /.form__row form__row--full -->
    </ul><!-- /.form__rows -->
  </form>
</div>

<div class="application-form__footer">
  <p>While InvestNextDoor wants to support as many businesses as possible we hold the right to reject listings at our discretion.</p>
</div><!-- /.application-form__footer -->
